In [1]:
import numpy as np
import json
import pandas as pd
import requests
from bs4 import BeautifulSoup as BS

In [2]:
items2015 = 49461
pages = 970   #there are 51 runners per page here

In [3]:
headers ={'Token':'6112c32703f442f0'}
url = 'https://results.nyrr.org/api/runners/finishers-filter'
body = '{"eventCode":"M2015","runnerId":null,"searchString":null,"countryCode":null,"stateProvince":null,"city":null,"teamName":null,"teamCode":null,"gender":null,"ageFrom":null,"ageTo":null,"overallPlaceFrom":null,"overallPlaceTo":null,"paceFrom":null,"paceTo":null,"overallTimeFrom":null,"overallTimeTo":null,"gunTimeFrom":null,"gunTimeTo":null,"ageGradedTimeFrom":null,"ageGradedTimeTo":null,"ageGradedPlaceFrom":null,"ageGradedPlaceTo":null,"ageGradedPerformanceFrom":null,"ageGradedPerformanceTo":null,"handicap":null,"sortColumn":"overallTime","sortDescending":false,"pageIndex":1,"pageSize":50}'

In [4]:
body_dict = json.loads(body)

In [5]:
body_dict

{'eventCode': 'M2016',
 'runnerId': None,
 'searchString': None,
 'countryCode': None,
 'stateProvince': None,
 'city': None,
 'teamName': None,
 'teamCode': None,
 'gender': None,
 'ageFrom': None,
 'ageTo': None,
 'overallPlaceFrom': None,
 'overallPlaceTo': None,
 'paceFrom': None,
 'paceTo': None,
 'overallTimeFrom': None,
 'overallTimeTo': None,
 'gunTimeFrom': None,
 'gunTimeTo': None,
 'ageGradedTimeFrom': None,
 'ageGradedTimeTo': None,
 'ageGradedPlaceFrom': None,
 'ageGradedPlaceTo': None,
 'ageGradedPerformanceFrom': None,
 'ageGradedPerformanceTo': None,
 'handicap': None,
 'sortColumn': 'overallTime',
 'sortDescending': False,
 'pageIndex': 1,
 'pageSize': 50}

In [6]:
result = requests.post(url, json = body_dict, headers = headers)
result #Response 200 means ok

In [7]:
result_set = result.json()['response']['items']
#result.json() wil show first 50, have to nest down to response >items

In [8]:
pd.DataFrame(result_set)

,runnerId,firstName,lastName,bib,age,birthdate,gender,city,countryCode,stateProvince,iaaf,overallPlace,overallTime,pace,genderPlace,ageGradeTime,ageGradePlace,ageGradePercent,racesCount
0,19814476,Ghirmay,Ghebreslassie,2,20,1995-11-14T00:00:00,M,Asmara,ERI,None,ERI,1,2:07:51,04:53,1,07:51,1,96.18,1
1,19800387,Lucas,Rotich,5,26,1990-04-16T00:00:00,M,Iten,KEN,None,KEN,2,2:08:53,04:55,2,08:53,3,95.41,2
2,19769742,Abdi,Abdirahman,16,39,1977-01-01T00:00:00,M,Tucson,USA,AZ,USA,3,2:11:23,05:01,3,08:33,2,95.65,23
3,19814470,Hiroyuki,Yamamoto,11,30,1986-04-30T00:00:00,M,Hachioji-City,JPN,None,JPN,4,2:11:49,05:02,4,11:49,4,93.29,1
4,19774842,Shadrack,Biwott,14,31,1985-02-19T00:00:00,M,Mammoth Lakes,USA,CA,USA,5,2:12:01,05:03,5,12:01,5,93.14,6
5,19800813,Tadesse,Yae Dabi,246,27,1988-11-21T00:00:00,M,New York,USA,NY,ETH,6,2:13:06,05:05,6,13:06,6,92.38,36
6,19776379,Moses,Kipsiro,6,30,1986-09-02T00:00:00,M,Bukwo,UGA,None,UGA,7,2:14:18,05:08,7,14:18,7,91.56,1
7,19814465,Tyler,Pennel,12,28,1987-12-21T00:00:00,M,Blowing Rock,USA,NC,USA,8,2:15:09,05:10,8,15:09,9,90.98,2
8,19781616,Ben,Payne,20,35,1981-09-16T00:00:00,M,Colorado Springs,USA,CO,USA,9,2:15:46,05:11,9,15:06,8,91.02,1
9,19814468,Patrick,Smyth,18,30,1986-08-06T00:00:00,M,Santa Fe,USA,NM,USA,10,2:16:34,05:13,10,16:34,10,90.03,3
10,19789497,Craig,Leon,8,31,1984-11-08T00:00:00,M,Eugene,USA,OR,USA,11,2:17:14,05:15,11,17:14,11,89.59,3
11,19800403,Musa,Babo Ido,210,27,1988-11-29T00:00:00,M,Washington,USA,DC,ETH,12,2:17:57,05:16,12,17:57,12,89.13,13
12,19772469,Christo,Landry,10,30,1986-04-29T00:00:00,M,Charlotte,USA,NC,USA,13,2:19:14,05:19,13,19:14,14,88.31,1
13,19782772,Brendan,Martin,25,27,1989-03-21T00:00:00,M,Smithtown,USA,NY,USA,14,2:19:34,05:20,14,19:34,15,88.10,37
14,19800485,Senbeto,Geneti Guteta,216,23,1993-05-19T00:00:00,M,New York,USA,NY,ETH,15,2:20:01,05:21,15,20:01,17,87.82,22
15,19814489,Mariano,Mastromarino,28,34,1982-09-15T00:00:00,M,Buenos Aires,ARG,None,ARG,16,2:20:08,05:21,16,19:46,16,87.98,2
16,19814484,Matthew,Llano,15,28,1988-08-01T00:00:00,M,Flagstaff,USA,AZ,USA,17,2:20:15,05:21,17,20:15,18,87.67,2
17,19787914,Werkuneh,Seyoum Aboye,241,32,1984-09-11T00:00:00,M,New York,USA,NY,ETH,18,2:20:54,05:23,18,20:52,19,87.29,17
18,19772870,Tim,Ritchie,17,29,1987-08-07T00:00:00,M,New Haven,USA,CT,USA,19,2:21:09,05:23,19,21:09,21,87.12,3
19,19764894,Harbert,Okuti,29,31,1985-10-25T00:00:00,M,High Falls,USA,NY,UGA,20,2:21:27,05:24,20,21:27,22,86.92,60
20,19814467,Jesper,Faurschou,23,33,1983-07-01T00:00:00,M,Silkeborg,DNK,None,DEN,21,2:22:00,05:25,21,21:51,24,86.68,1
21,19814463,Giovanni,Gualdi,26,36,1979-11-25T00:00:00,M,Cerete,ITA,None,ITA,22,2:22:10,05:26,22,21:02,20,87.19,1
22,19782195,Suleman,Abrar Shifa,201,23,1993-06-07T00:00:00,M,Bronx,USA,NY,ETH,23,2:23:25,05:29,23,23:25,27,85.74,61
23,19766872,Michael,Cassidy,33,31,1985-07-05T00:00:00,M,New York,USA,NY,USA,24,2:24:02,05:30,24,24:02,31,85.37,92
24,19770521,Mary,Keitany,101,34,1982-01-18T00:00:00,F,Iten,KEN,None,KEN,25,2:24:26,05:31,1,23:45,1,94.21,11
25,19813661,John,Dewitt,24,25,1991-04-30T00:00:00,M,Milwaukee,USA,WI,USA,26,2:24:35,05:31,25,24:35,35,85.05,1
26,19789531,Fredison,Costa,209,39,1977-03-18T00:00:00,M,Kissimmee,USA,FL,BRA,27,2:25:34,05:34,26,22:25,26,86.33,5
27,19778401,Tyler,McCandless,22,30,1986-10-14T00:00:00,M,Boulder,USA,CO,USA,28,2:25:56,05:34,27,25:56,38,84.26,2
28,19771126,Jeffrey,Stein,243,30,1986-04-20T00:00:00,M,Washington,USA,DC,USA,29,2:26:39,05:36,28,26:39,43,83.85,8
29,19802131,Yohann,Pruvot,1635,31,1985-02-28T00:00:00,M,Calais Cedex,FRA,None,FRA,30,2:26:50,05:36,29,26:50,47,83.74,1
30,19768419,Jerry,Faulkner,32,35,1981-09-16T00:00:00,M,Sunnyside,USA,NY,USA,31,2:27:01,05:37,30,26:17,39,84.05,69
31,19814464,Zachary,Ornelas,30,25,1991-07-15T00:00:00,M,Ann Arbor,USA,MI,USA,32,2:27:02,05:37,31,27:02,49,83.63,1
32,19789665,Charles,Remillard,238,23,1993-05-06T00:00:00,M,Brooklyn,USA,NY,USA,33,2:27:09,05:37,32,27:09,51,83.56,13
33,19771277,Bernard,Dematteis,34,30,1986-05-24T00:00:00,M,Sampeyre,ITA,None,ITA,34,2:27:42,05:38,33,27:42,53,83.25,1
34,19775437,Sally,Kipyego,108,30,1985-12-19T00:00:00,F,Eugene,USA,OR,KEN,35,2:28:01,05:39,2,28:01,2,91.49,7
35,19775344,Molly,Huddle,111,32,1984-08-31T00:00:00,F,Providence,USA,RI,USA,36,2:28:13,05:40,3,28:03,3,91.47,13
36,19800097,Matt,Hensley,31,28,1987-11-09T00:00:00,M,Louisville,USA,CO,USA,37,2:28:24,05:40,34,28:24,54,82.85,2
37,19814043,Roger,Konigs,247,38,1978-03-03T00:00:00,M,Burg-Reuland,BEL,None,BEL,38,2:29:02,05:42,35,26:37,41,83.87,1
38,19782058,Joyce,Chepkirui,104,28,1988-08-10T00:00:00,F,Iten,KEN,None,KEN,39,2:29:08,05:42,4,29:08,4,90.81,5
39,19811380,Miguel,Ferrer Muro,1633,38,1978-02-17T00:00:00,M,Logroño,ESP,None,ESP,40,2:29:12,05:42,36,26:46,46,83.77,1
40,19782168,Fabrice,Evrard,1638,35,1981-01-29T00:00:00,M,Martigues,FRA,None,FRA,41,2:29:45,05:43,37,29:00,55,82.52,2
41,19790078,Jeroen,Veldhuis,245,41,1975-10-20T00:00:00,M,Amsterdam,NLD,None,NED,42,2:29:50,05:43,38,24:43,36,84.97,2
42,19814223,Brian,Finnel,213,29,1987-06-25T00:00:00,M,Verona,USA,WI,USA,43,2:30:07,05:44,39,30:07,64,81.91,1
43,19787860,Matthew,Lawder,225,28,1988-11-02T00:00:00,M,New York,USA,NY,USA,44,2:30:39,05:45,40,30:39,70,81.61,28
44,19770964,Max,Haines-Stiles,220,30,1986-07-23T00:00:00,M,San Francisco,USA,CA,USA,45,2:30:41,05:45,41,30:41,72,81.60,2
45,19804382,Adrien,Guiomar,219,34,1982-01-20T00:00:00,M,Paris,FRA,None,FRA,46,2:30:44,05:45,42,30:20,67,81.79,1
46,19764683,Trevor,Middleton,229,30,1986-07-26T00:00:00,M,Long Island City,USA,NY,USA,47,2:32:37,05:50,43,32:37,85,80.56,25
47,19802082,Adrien,Bouvet,9631,31,1985-04-11T00:00:00,M,Montrouge,FRA,None,FRA,48,2:32:40,05:50,44,32:40,87,80.54,1
48,19772314,Diane,Nukuri,106,31,1984-12-01T00:00:00,F,Flagstaff,USA,AZ,BDI,49,2:33:04,05:51,5,33:02,7,88.49,19
49,19782076,Michael,Wardian,42,42,1974-04-12T00:00:00,M,Arlington,USA,VA,USA,50,2:33:18,05:51,45,26:56,48,83.69,5

In [9]:
df = pd.DataFrame(result_set)

In [10]:
df

,runnerId,firstName,lastName,bib,age,birthdate,gender,city,countryCode,stateProvince,iaaf,overallPlace,overallTime,pace,genderPlace,ageGradeTime,ageGradePlace,ageGradePercent,racesCount
0,19814476,Ghirmay,Ghebreslassie,2,20,1995-11-14T00:00:00,M,Asmara,ERI,None,ERI,1,2:07:51,04:53,1,07:51,1,96.18,1
1,19800387,Lucas,Rotich,5,26,1990-04-16T00:00:00,M,Iten,KEN,None,KEN,2,2:08:53,04:55,2,08:53,3,95.41,2
2,19769742,Abdi,Abdirahman,16,39,1977-01-01T00:00:00,M,Tucson,USA,AZ,USA,3,2:11:23,05:01,3,08:33,2,95.65,23
3,19814470,Hiroyuki,Yamamoto,11,30,1986-04-30T00:00:00,M,Hachioji-City,JPN,None,JPN,4,2:11:49,05:02,4,11:49,4,93.29,1
4,19774842,Shadrack,Biwott,14,31,1985-02-19T00:00:00,M,Mammoth Lakes,USA,CA,USA,5,2:12:01,05:03,5,12:01,5,93.14,6
5,19800813,Tadesse,Yae Dabi,246,27,1988-11-21T00:00:00,M,New York,USA,NY,ETH,6,2:13:06,05:05,6,13:06,6,92.38,36
6,19776379,Moses,Kipsiro,6,30,1986-09-02T00:00:00,M,Bukwo,UGA,None,UGA,7,2:14:18,05:08,7,14:18,7,91.56,1
7,19814465,Tyler,Pennel,12,28,1987-12-21T00:00:00,M,Blowing Rock,USA,NC,USA,8,2:15:09,05:10,8,15:09,9,90.98,2
8,19781616,Ben,Payne,20,35,1981-09-16T00:00:00,M,Colorado Springs,USA,CO,USA,9,2:15:46,05:11,9,15:06,8,91.02,1
9,19814468,Patrick,Smyth,18,30,1986-08-06T00:00:00,M,Santa Fe,USA,NM,USA,10,2:16:34,05:13,10,16:34,10,90.03,3
10,19789497,Craig,Leon,8,31,1984-11-08T00:00:00,M,Eugene,USA,OR,USA,11,2:17:14,05:15,11,17:14,11,89.59,3
11,19800403,Musa,Babo Ido,210,27,1988-11-29T00:00:00,M,Washington,USA,DC,ETH,12,2:17:57,05:16,12,17:57,12,89.13,13
12,19772469,Christo,Landry,10,30,1986-04-29T00:00:00,M,Charlotte,USA,NC,USA,13,2:19:14,05:19,13,19:14,14,88.31,1
13,19782772,Brendan,Martin,25,27,1989-03-21T00:00:00,M,Smithtown,USA,NY,USA,14,2:19:34,05:20,14,19:34,15,88.10,37
14,19800485,Senbeto,Geneti Guteta,216,23,1993-05-19T00:00:00,M,New York,USA,NY,ETH,15,2:20:01,05:21,15,20:01,17,87.82,22
15,19814489,Mariano,Mastromarino,28,34,1982-09-15T00:00:00,M,Buenos Aires,ARG,None,ARG,16,2:20:08,05:21,16,19:46,16,87.98,2
16,19814484,Matthew,Llano,15,28,1988-08-01T00:00:00,M,Flagstaff,USA,AZ,USA,17,2:20:15,05:21,17,20:15,18,87.67,2
17,19787914,Werkuneh,Seyoum Aboye,241,32,1984-09-11T00:00:00,M,New York,USA,NY,ETH,18,2:20:54,05:23,18,20:52,19,87.29,17
18,19772870,Tim,Ritchie,17,29,1987-08-07T00:00:00,M,New Haven,USA,CT,USA,19,2:21:09,05:23,19,21:09,21,87.12,3
19,19764894,Harbert,Okuti,29,31,1985-10-25T00:00:00,M,High Falls,USA,NY,UGA,20,2:21:27,05:24,20,21:27,22,86.92,60
20,19814467,Jesper,Faurschou,23,33,1983-07-01T00:00:00,M,Silkeborg,DNK,None,DEN,21,2:22:00,05:25,21,21:51,24,86.68,1
21,19814463,Giovanni,Gualdi,26,36,1979-11-25T00:00:00,M,Cerete,ITA,None,ITA,22,2:22:10,05:26,22,21:02,20,87.19,1
22,19782195,Suleman,Abrar Shifa,201,23,1993-06-07T00:00:00,M,Bronx,USA,NY,ETH,23,2:23:25,05:29,23,23:25,27,85.74,61
23,19766872,Michael,Cassidy,33,31,1985-07-05T00:00:00,M,New York,USA,NY,USA,24,2:24:02,05:30,24,24:02,31,85.37,92
24,19770521,Mary,Keitany,101,34,1982-01-18T00:00:00,F,Iten,KEN,None,KEN,25,2:24:26,05:31,1,23:45,1,94.21,11
25,19813661,John,Dewitt,24,25,1991-04-30T00:00:00,M,Milwaukee,USA,WI,USA,26,2:24:35,05:31,25,24:35,35,85.05,1
26,19789531,Fredison,Costa,209,39,1977-03-18T00:00:00,M,Kissimmee,USA,FL,BRA,27,2:25:34,05:34,26,22:25,26,86.33,5
27,19778401,Tyler,McCandless,22,30,1986-10-14T00:00:00,M,Boulder,USA,CO,USA,28,2:25:56,05:34,27,25:56,38,84.26,2
28,19771126,Jeffrey,Stein,243,30,1986-04-20T00:00:00,M,Washington,USA,DC,USA,29,2:26:39,05:36,28,26:39,43,83.85,8
29,19802131,Yohann,Pruvot,1635,31,1985-02-28T00:00:00,M,Calais Cedex,FRA,None,FRA,30,2:26:50,05:36,29,26:50,47,83.74,1
30,19768419,Jerry,Faulkner,32,35,1981-09-16T00:00:00,M,Sunnyside,USA,NY,USA,31,2:27:01,05:37,30,26:17,39,84.05,69
31,19814464,Zachary,Ornelas,30,25,1991-07-15T00:00:00,M,Ann Arbor,USA,MI,USA,32,2:27:02,05:37,31,27:02,49,83.63,1
32,19789665,Charles,Remillard,238,23,1993-05-06T00:00:00,M,Brooklyn,USA,NY,USA,33,2:27:09,05:37,32,27:09,51,83.56,13
33,19771277,Bernard,Dematteis,34,30,1986-05-24T00:00:00,M,Sampeyre,ITA,None,ITA,34,2:27:42,05:38,33,27:42,53,83.25,1
34,19775437,Sally,Kipyego,108,30,1985-12-19T00:00:00,F,Eugene,USA,OR,KEN,35,2:28:01,05:39,2,28:01,2,91.49,7
35,19775344,Molly,Huddle,111,32,1984-08-31T00:00:00,F,Providence,USA,RI,USA,36,2:28:13,05:40,3,28:03,3,91.47,13
36,19800097,Matt,Hensley,31,28,1987-11-09T00:00:00,M,Louisville,USA,CO,USA,37,2:28:24,05:40,34,28:24,54,82.85,2
37,19814043,Roger,Konigs,247,38,1978-03-03T00:00:00,M,Burg-Reuland,BEL,None,BEL,38,2:29:02,05:42,35,26:37,41,83.87,1
38,19782058,Joyce,Chepkirui,104,28,1988-08-10T00:00:00,F,Iten,KEN,None,KEN,39,2:29:08,05:42,4,29:08,4,90.81,5
39,19811380,Miguel,Ferrer Muro,1633,38,1978-02-17T00:00:00,M,Logroño,ESP,None,ESP,40,2:29:12,05:42,36,26:46,46,83.77,1
40,19782168,Fabrice,Evrard,1638,35,1981-01-29T00:00:00,M,Martigues,FRA,None,FRA,41,2:29:45,05:43,37,29:00,55,82.52,2
41,19790078,Jeroen,Veldhuis,245,41,1975-10-20T00:00:00,M,Amsterdam,NLD,None,NED,42,2:29:50,05:43,38,24:43,36,84.97,2
42,19814223,Brian,Finnel,213,29,1987-06-25T00:00:00,M,Verona,USA,WI,USA,43,2:30:07,05:44,39,30:07,64,81.91,1
43,19787860,Matthew,Lawder,225,28,1988-11-02T00:00:00,M,New York,USA,NY,USA,44,2:30:39,05:45,40,30:39,70,81.61,28
44,19770964,Max,Haines-Stiles,220,30,1986-07-23T00:00:00,M,San Francisco,USA,CA,USA,45,2:30:41,05:45,41,30:41,72,81.60,2
45,19804382,Adrien,Guiomar,219,34,1982-01-20T00:00:00,M,Paris,FRA,None,FRA,46,2:30:44,05:45,42,30:20,67,81.79,1
46,19764683,Trevor,Middleton,229,30,1986-07-26T00:00:00,M,Long Island City,USA,NY,USA,47,2:32:37,05:50,43,32:37,85,80.56,25
47,19802082,Adrien,Bouvet,9631,31,1985-04-11T00:00:00,M,Montrouge,FRA,None,FRA,48,2:32:40,05:50,44,32:40,87,80.54,1
48,19772314,Diane,Nukuri,106,31,1984-12-01T00:00:00,F,Flagstaff,USA,AZ,BDI,49,2:33:04,05:51,5,33:02,7,88.49,19
49,19782076,Michael,Wardian,42,42,1974-04-12T00:00:00,M,Arlington,USA,VA,USA,50,2:33:18,05:51,45,26:56,48,83.69,5

In [ ]:
#for loop to get each set of results per page of url
df = pd.DataFrame()
for index in range (1, 971): #or can do (pages+1 as end number)
    #print(index)
    body_dict['pageIndex']=index
    result = requests.post(url, json = body_dict, headers = headers)
    result_set = result.json()['response']['items']
    df = df.append(pd.DataFrame(result_set))
    print(df.shape)

In [12]:
print(df.tail()) #this is stopping at runner place #10,000

    runnerId  firstName   lastName    bib  age            birthdate gender  \
45  19804217      Benny   Sørensen  24921   58  1958-03-17T00:00:00      M
46  19772051     Costas  Saravanos  23151   65  1951-11-02T00:00:00      M
47  19786799     Julien      Herve  18176   29  1987-05-10T00:00:00      M
48  19769234  Benedicte       Foix  13343   39  1977-09-29T00:00:00      F
49  19799441      Caleb       Barr  53197   26  1990-02-04T00:00:00      M

                city countryCode stateProvince iaaf  overallPlace overallTime  \
45          Vorbasse         DNK          None  DEN          9996     3:51:58
46  Highland Village         USA            TX  USA          9997     3:51:59
47          New York         USA            NY  FRA          9998     3:51:59
48          New York         USA            NY  FRA          9999     3:52:00
49          Brooklyn         USA            NY  USA         10000     3:52:00

     pace  genderPlace ageGradeTime  ageGradePlace  ageGradePercent  \
45  08:51         7849        13:26           3254            63.56
46  08:51         7850        00:49           1689            68.00
47  08:51         7851        51:59          11571            53.00
48  08:51         2148        46:21           3161            59.83
49  08:51         7852        52:00          11579            53.00

    racesCount
45           2
46           2
47          15
48          46
49           1

In [12]:
df = df.reset_index(drop=True)

In [13]:
df.tail()

,runnerId,firstName,lastName,bib,age,birthdate,gender,city,countryCode,stateProvince,iaaf,overallPlace,overallTime,pace,genderPlace,ageGradeTime,ageGradePlace,ageGradePercent,racesCount
9995,19804217,Benny,Sørensen,24921,58,1958-03-17T00:00:00,M,Vorbasse,DNK,None,DEN,9996,3:51:58,08:51,7849,13:26,3254,63.56,2
9996,19772051,Costas,Saravanos,23151,65,1951-11-02T00:00:00,M,Highland Village,USA,TX,USA,9997,3:51:59,08:51,7850,00:49,1689,68.00,2
9997,19786799,Julien,Herve,18176,29,1987-05-10T00:00:00,M,New York,USA,NY,FRA,9998,3:51:59,08:51,7851,51:59,11571,53.00,15
9998,19769234,Benedicte,Foix,13343,39,1977-09-29T00:00:00,F,New York,USA,NY,FRA,9999,3:52:00,08:51,2148,46:21,3161,59.83,46
9999,19799441,Caleb,Barr,53197,26,1990-02-04T00:00:00,M,Brooklyn,USA,NY,USA,10000,3:52:00,08:51,7852,52:00,11579,53.00,1

In [14]:
#export to csv to save each year results - only have first 10k places
df.to_csv('../data/nyc2015.csv')