In [5]:
import numpy as np
import json
import pandas as pd
import requests
from bs4 import BeautifulSoup as BS

In [6]:
items2017 = 50641
pages = 993   #there are 51 runners per page here

In [7]:
headers ={'Token':'6112c32703f442f0'}
url = 'https://results.nyrr.org/api/runners/finishers-filter'
body = '{"eventCode":"M2017","runnerId":null,"searchString":null,"countryCode":null,"stateProvince":null,"city":null,"teamName":null,"teamCode":null,"gender":null,"ageFrom":null,"ageTo":null,"overallPlaceFrom":null,"overallPlaceTo":null,"paceFrom":null,"paceTo":null,"overallTimeFrom":null,"overallTimeTo":null,"gunTimeFrom":null,"gunTimeTo":null,"ageGradedTimeFrom":null,"ageGradedTimeTo":null,"ageGradedPlaceFrom":null,"ageGradedPlaceTo":null,"ageGradedPerformanceFrom":null,"ageGradedPerformanceTo":null,"handicap":null,"sortColumn":"overallTime","sortDescending":false,"pageIndex":1,"pageSize":50}'

In [8]:
body_dict = json.loads(body)

In [9]:
body_dict

{'eventCode': 'M2017',
 'runnerId': None,
 'searchString': None,
 'countryCode': None,
 'stateProvince': None,
 'city': None,
 'teamName': None,
 'teamCode': None,
 'gender': None,
 'ageFrom': None,
 'ageTo': None,
 'overallPlaceFrom': None,
 'overallPlaceTo': None,
 'paceFrom': None,
 'paceTo': None,
 'overallTimeFrom': None,
 'overallTimeTo': None,
 'gunTimeFrom': None,
 'gunTimeTo': None,
 'ageGradedTimeFrom': None,
 'ageGradedTimeTo': None,
 'ageGradedPlaceFrom': None,
 'ageGradedPlaceTo': None,
 'ageGradedPerformanceFrom': None,
 'ageGradedPerformanceTo': None,
 'handicap': None,
 'sortColumn': 'overallTime',
 'sortDescending': False,
 'pageIndex': 1,
 'pageSize': 50}

In [10]:
result = requests.post(url, json = body_dict, headers = headers)
result #Response 200 means ok

In [11]:
result_set = result.json()['response']['items']
#result.json() wil show first 50, have to nest down to response >items

In [12]:
pd.DataFrame(result_set)

,runnerId,firstName,lastName,bib,age,birthdate,gender,city,countryCode,stateProvince,iaaf,overallPlace,overallTime,pace,genderPlace,ageGradeTime,ageGradePlace,ageGradePercent,racesCount
0,14973532,Geoffrey,Kamworor,5,24,1992-11-22T00:00:00,M,Kapchorwa District,KEN,None,KEN,1,2:10:53,05:00,1,10:53,4,93.94,4
1,14959770,Wilson,Kipsang,4,35,1982-03-15T00:00:00,M,Iten,KEN,None,KEN,2,2:10:56,05:00,2,10:17,3,94.38,5
2,14956864,Lelisa,Desisa,7,27,1990-01-14T00:00:00,M,Addis Ababa,ETH,None,ETH,3,2:11:32,05:01,3,11:32,6,93.49,5
3,15003020,Lemi,Berhanu,6,22,1995-09-13T00:00:00,M,Addis Ababa,ETH,None,ETH,4,2:11:52,05:02,4,11:52,7,93.25,1
4,15003019,Tadesse,Abraham,10,35,1982-08-12T00:00:00,M,Geneva,CHE,None,SUI,5,2:12:01,05:03,5,11:21,5,93.61,1
5,15003021,Michel,Butter,14,32,1985-11-05T00:00:00,M,Beverwijk,NLD,None,NED,6,2:12:39,05:04,6,12:38,8,92.71,2
6,14957930,Abdi,Abdirahman,3,40,1977-01-01T00:00:00,M,Tucson,USA,AZ,USA,7,2:12:48,05:04,7,09:09,1,95.21,23
7,15003022,Koen,Naert,16,28,1989-09-03T00:00:00,M,Oostkamp,BEL,None,BEL,8,2:13:21,05:06,8,13:21,10,92.21,1
8,14979740,Fikadu,Girma Teferi,442,24,1993-10-07T00:00:00,M,New York,USA,NY,ETH,9,2:13:58,05:07,9,13:58,11,91.78,11
9,14962146,Shadrack,Biwott,12,32,1985-02-19T00:00:00,M,Folsom,USA,CA,USA,10,2:14:57,05:09,10,14:55,12,91.13,6
10,14956047,Meb,Keflezighi,11,42,1975-05-05T00:00:00,M,San Diego,USA,CA,USA,11,2:15:29,05:11,11,09:50,2,94.70,31
11,14988622,Jared,Ward,9,29,1988-09-09T00:00:00,M,Kaysville,USA,UT,USA,12,2:18:39,05:18,12,18:39,14,88.68,5
12,14978748,Senbeto,Geneti Guteta,441,24,1993-05-19T00:00:00,M,New York,USA,NY,ETH,13,2:20:29,05:22,13,20:29,15,87.53,22
13,14967777,Birhanu,Dare Kemal,443,31,1986-07-19T00:00:00,M,New York,USA,NY,ETH,14,2:21:30,05:24,14,21:30,18,86.90,50
14,14968494,Brendan,Martin,18,28,1989-03-21T00:00:00,M,Smithtown,USA,NY,USA,15,2:22:36,05:27,15,22:36,19,86.23,37
15,14953892,Harbert,Okuti,21,32,1985-10-25T00:00:00,M,High Falls,USA,NY,UGA,16,2:22:46,05:27,16,22:44,20,86.14,60
16,14993231,John,Metui,19568,26,1991-06-23T00:00:00,M,Santa Barbara,USA,CA,KEN,17,2:23:40,05:29,17,23:40,23,85.59,1
17,14955064,Girma,Segni,549,32,1985-07-13T00:00:00,M,Bronx,USA,NY,ETH,18,2:23:51,05:30,18,23:50,24,85.49,48
18,14988055,Francesco,Puppi,20,25,1992-01-26T00:00:00,M,Guanzate,ITA,None,ITA,19,2:25:35,05:34,19,25:35,28,84.46,1
19,14958611,Shalane,Flanagan,108,36,1981-07-08T00:00:00,F,Portland,USA,OR,USA,20,2:26:53,05:37,1,25:19,1,93.19,5
20,14986246,Peter,Le Grice,1025,30,1987-07-10T00:00:00,M,Penzance,GBR,None,GBR,21,2:27:11,05:37,20,27:11,35,83.54,1
21,14964137,Abu,Kebede Diriba,444,30,1987-07-22T00:00:00,M,New York,USA,NY,ETH,22,2:27:25,05:38,21,27:25,37,83.41,73
22,14962058,Doriano,Bussolotto,1031,36,1980-11-18T00:00:00,M,Recanati,ITA,None,ITA,23,2:27:41,05:38,22,26:30,33,83.93,3
23,14958614,Mary,Keitany,101,35,1982-01-18T00:00:00,F,Iten,KEN,None,KEN,24,2:27:54,05:39,2,26:49,4,92.24,11
24,14961013,Alberto,Mosca,462,39,1978-04-19T00:00:00,M,Valdengo,ITA,None,ITA,25,2:28:07,05:39,23,24:55,27,84.84,2
25,14961429,Mamitu,Daska,105,34,1983-10-16T00:00:00,F,Albuquerque,USA,NM,ETH,26,2:28:08,05:39,3,27:26,6,91.86,9
26,15001174,Enzo,Yanez Jhonson,1011,32,1985-09-13T00:00:00,M,Frutillar,CHL,None,CHI,27,2:28:17,05:40,24,28:15,40,82.94,1
27,14965079,Jordan,Tropf,1032,25,1991-11-14T00:00:00,M,Baltimore,USA,MD,USA,28,2:28:19,05:40,25,28:19,41,82.90,3
28,14985374,Matt,Lenehan,464,26,1991-06-24T00:00:00,M,San Francisco,USA,CA,USA,29,2:28:26,05:40,26,28:26,42,82.83,1
29,14968679,Fredrik,Uhrbom,40,40,1977-08-13T00:00:00,M,Stockholm,SWE,None,SWE,30,2:28:42,05:41,27,24:37,26,85.02,3
30,14988305,Benjamin,Mears,458,28,1988-11-16T00:00:00,M,Mountain View,USA,CA,USA,31,2:29:12,05:42,28,29:12,43,82.41,1
31,14958612,Edna,Kiplagat,102,38,1979-09-15T00:00:00,F,Iten,KEN,None,KEN,32,2:29:36,05:43,4,26:44,3,92.29,12
32,14967042,Allie,Kieffer,126,30,1987-09-16T00:00:00,F,Buffalo,USA,NY,USA,33,2:29:39,05:43,5,29:39,8,90.50,17
33,14992613,Sara,Dossena,120,32,1984-11-22T00:00:00,F,Clusone,ITA,None,ITA,34,2:29:39,05:43,6,29:29,7,90.59,5
34,15000668,Luc,Schout,1022,30,1987-05-05T00:00:00,M,Nijmegen,NLD,None,NED,35,2:29:41,05:43,29,29:41,54,82.15,1
35,14992614,Eva,Vrabcova,117,31,1986-02-06T00:00:00,F,Trutnov,CZE,None,CZE,36,2:29:41,05:43,7,29:39,9,90.49,4
36,14994832,Wojciech,Kopec,1010,31,1986-05-30T00:00:00,M,Olsztynek,POL,None,POL,37,2:29:47,05:43,30,29:47,55,82.09,1
37,15003017,Kellyn,Taylor,114,31,1986-07-22T00:00:00,F,Flagstaff,USA,AZ,USA,38,2:29:56,05:44,8,29:55,10,90.34,3
38,15002955,Asier,Cuevas,446,44,1973-01-16T00:00:00,M,Madrid,ESP,None,ESP,39,2:30:00,05:44,31,21:25,17,86.95,1
39,14954583,David,Saunders,548,33,1984-10-17T00:00:00,M,Rye,USA,NY,USA,40,2:30:05,05:44,32,29:55,57,82.02,41
40,14984505,Jake,Kasperski,1154,26,1991-09-11T00:00:00,M,Perrysburg,USA,OH,USA,41,2:30:06,05:44,33,30:06,58,81.92,1
41,14968047,Suleman,Abrar Shifa,447,24,1993-06-07T00:00:00,M,Bronx,USA,NY,ETH,42,2:30:26,05:45,34,30:26,62,81.74,61
42,14987277,Agustin,Moreno,1118,32,1984-12-26T00:00:00,M,Zaragoza,ESP,None,ESP,43,2:30:28,05:45,35,30:26,64,81.73,2
43,14984623,Kyle,Larson,1117,27,1990-03-14T00:00:00,M,Chicago,USA,IL,USA,44,2:30:51,05:46,36,30:51,67,81.51,1
44,14961058,Rafael,Oliveira,460,37,1980-08-26T00:00:00,M,Porto,PRT,None,POR,45,2:31:03,05:46,37,29:16,46,82.37,1
45,15002980,GAMBINO,SALVATORE,1068,37,1980-02-09T00:00:00,M,Bolzano,ITA,None,ITA,46,2:31:12,05:46,38,29:25,48,82.30,1
46,14960151,Diane,Nukuri,106,32,1984-12-01T00:00:00,F,Flagstaff,USA,AZ,BDI,47,2:31:21,05:47,9,31:11,11,89.57,19
47,14977975,Mark,Sidebottom,1107,26,1991-08-08T00:00:00,M,Bethlehem,USA,PA,USA,48,2:31:24,05:47,39,31:24,74,81.21,1
48,14969332,Lane,Boyer,1019,28,1989-06-12T00:00:00,M,Nashville,USA,TN,USA,49,2:31:26,05:47,40,31:26,76,81.20,3
49,14952497,broderick,gann,1024,31,1986-01-21T00:00:00,M,New York,USA,NY,USA,50,2:31:33,05:47,41,31:33,79,81.14,10

In [13]:
df = pd.DataFrame(result_set)

In [14]:
df

,runnerId,firstName,lastName,bib,age,birthdate,gender,city,countryCode,stateProvince,iaaf,overallPlace,overallTime,pace,genderPlace,ageGradeTime,ageGradePlace,ageGradePercent,racesCount
0,14973532,Geoffrey,Kamworor,5,24,1992-11-22T00:00:00,M,Kapchorwa District,KEN,None,KEN,1,2:10:53,05:00,1,10:53,4,93.94,4
1,14959770,Wilson,Kipsang,4,35,1982-03-15T00:00:00,M,Iten,KEN,None,KEN,2,2:10:56,05:00,2,10:17,3,94.38,5
2,14956864,Lelisa,Desisa,7,27,1990-01-14T00:00:00,M,Addis Ababa,ETH,None,ETH,3,2:11:32,05:01,3,11:32,6,93.49,5
3,15003020,Lemi,Berhanu,6,22,1995-09-13T00:00:00,M,Addis Ababa,ETH,None,ETH,4,2:11:52,05:02,4,11:52,7,93.25,1
4,15003019,Tadesse,Abraham,10,35,1982-08-12T00:00:00,M,Geneva,CHE,None,SUI,5,2:12:01,05:03,5,11:21,5,93.61,1
5,15003021,Michel,Butter,14,32,1985-11-05T00:00:00,M,Beverwijk,NLD,None,NED,6,2:12:39,05:04,6,12:38,8,92.71,2
6,14957930,Abdi,Abdirahman,3,40,1977-01-01T00:00:00,M,Tucson,USA,AZ,USA,7,2:12:48,05:04,7,09:09,1,95.21,23
7,15003022,Koen,Naert,16,28,1989-09-03T00:00:00,M,Oostkamp,BEL,None,BEL,8,2:13:21,05:06,8,13:21,10,92.21,1
8,14979740,Fikadu,Girma Teferi,442,24,1993-10-07T00:00:00,M,New York,USA,NY,ETH,9,2:13:58,05:07,9,13:58,11,91.78,11
9,14962146,Shadrack,Biwott,12,32,1985-02-19T00:00:00,M,Folsom,USA,CA,USA,10,2:14:57,05:09,10,14:55,12,91.13,6
10,14956047,Meb,Keflezighi,11,42,1975-05-05T00:00:00,M,San Diego,USA,CA,USA,11,2:15:29,05:11,11,09:50,2,94.70,31
11,14988622,Jared,Ward,9,29,1988-09-09T00:00:00,M,Kaysville,USA,UT,USA,12,2:18:39,05:18,12,18:39,14,88.68,5
12,14978748,Senbeto,Geneti Guteta,441,24,1993-05-19T00:00:00,M,New York,USA,NY,ETH,13,2:20:29,05:22,13,20:29,15,87.53,22
13,14967777,Birhanu,Dare Kemal,443,31,1986-07-19T00:00:00,M,New York,USA,NY,ETH,14,2:21:30,05:24,14,21:30,18,86.90,50
14,14968494,Brendan,Martin,18,28,1989-03-21T00:00:00,M,Smithtown,USA,NY,USA,15,2:22:36,05:27,15,22:36,19,86.23,37
15,14953892,Harbert,Okuti,21,32,1985-10-25T00:00:00,M,High Falls,USA,NY,UGA,16,2:22:46,05:27,16,22:44,20,86.14,60
16,14993231,John,Metui,19568,26,1991-06-23T00:00:00,M,Santa Barbara,USA,CA,KEN,17,2:23:40,05:29,17,23:40,23,85.59,1
17,14955064,Girma,Segni,549,32,1985-07-13T00:00:00,M,Bronx,USA,NY,ETH,18,2:23:51,05:30,18,23:50,24,85.49,48
18,14988055,Francesco,Puppi,20,25,1992-01-26T00:00:00,M,Guanzate,ITA,None,ITA,19,2:25:35,05:34,19,25:35,28,84.46,1
19,14958611,Shalane,Flanagan,108,36,1981-07-08T00:00:00,F,Portland,USA,OR,USA,20,2:26:53,05:37,1,25:19,1,93.19,5
20,14986246,Peter,Le Grice,1025,30,1987-07-10T00:00:00,M,Penzance,GBR,None,GBR,21,2:27:11,05:37,20,27:11,35,83.54,1
21,14964137,Abu,Kebede Diriba,444,30,1987-07-22T00:00:00,M,New York,USA,NY,ETH,22,2:27:25,05:38,21,27:25,37,83.41,73
22,14962058,Doriano,Bussolotto,1031,36,1980-11-18T00:00:00,M,Recanati,ITA,None,ITA,23,2:27:41,05:38,22,26:30,33,83.93,3
23,14958614,Mary,Keitany,101,35,1982-01-18T00:00:00,F,Iten,KEN,None,KEN,24,2:27:54,05:39,2,26:49,4,92.24,11
24,14961013,Alberto,Mosca,462,39,1978-04-19T00:00:00,M,Valdengo,ITA,None,ITA,25,2:28:07,05:39,23,24:55,27,84.84,2
25,14961429,Mamitu,Daska,105,34,1983-10-16T00:00:00,F,Albuquerque,USA,NM,ETH,26,2:28:08,05:39,3,27:26,6,91.86,9
26,15001174,Enzo,Yanez Jhonson,1011,32,1985-09-13T00:00:00,M,Frutillar,CHL,None,CHI,27,2:28:17,05:40,24,28:15,40,82.94,1
27,14965079,Jordan,Tropf,1032,25,1991-11-14T00:00:00,M,Baltimore,USA,MD,USA,28,2:28:19,05:40,25,28:19,41,82.90,3
28,14985374,Matt,Lenehan,464,26,1991-06-24T00:00:00,M,San Francisco,USA,CA,USA,29,2:28:26,05:40,26,28:26,42,82.83,1
29,14968679,Fredrik,Uhrbom,40,40,1977-08-13T00:00:00,M,Stockholm,SWE,None,SWE,30,2:28:42,05:41,27,24:37,26,85.02,3
30,14988305,Benjamin,Mears,458,28,1988-11-16T00:00:00,M,Mountain View,USA,CA,USA,31,2:29:12,05:42,28,29:12,43,82.41,1
31,14958612,Edna,Kiplagat,102,38,1979-09-15T00:00:00,F,Iten,KEN,None,KEN,32,2:29:36,05:43,4,26:44,3,92.29,12
32,14967042,Allie,Kieffer,126,30,1987-09-16T00:00:00,F,Buffalo,USA,NY,USA,33,2:29:39,05:43,5,29:39,8,90.50,17
33,14992613,Sara,Dossena,120,32,1984-11-22T00:00:00,F,Clusone,ITA,None,ITA,34,2:29:39,05:43,6,29:29,7,90.59,5
34,15000668,Luc,Schout,1022,30,1987-05-05T00:00:00,M,Nijmegen,NLD,None,NED,35,2:29:41,05:43,29,29:41,54,82.15,1
35,14992614,Eva,Vrabcova,117,31,1986-02-06T00:00:00,F,Trutnov,CZE,None,CZE,36,2:29:41,05:43,7,29:39,9,90.49,4
36,14994832,Wojciech,Kopec,1010,31,1986-05-30T00:00:00,M,Olsztynek,POL,None,POL,37,2:29:47,05:43,30,29:47,55,82.09,1
37,15003017,Kellyn,Taylor,114,31,1986-07-22T00:00:00,F,Flagstaff,USA,AZ,USA,38,2:29:56,05:44,8,29:55,10,90.34,3
38,15002955,Asier,Cuevas,446,44,1973-01-16T00:00:00,M,Madrid,ESP,None,ESP,39,2:30:00,05:44,31,21:25,17,86.95,1
39,14954583,David,Saunders,548,33,1984-10-17T00:00:00,M,Rye,USA,NY,USA,40,2:30:05,05:44,32,29:55,57,82.02,41
40,14984505,Jake,Kasperski,1154,26,1991-09-11T00:00:00,M,Perrysburg,USA,OH,USA,41,2:30:06,05:44,33,30:06,58,81.92,1
41,14968047,Suleman,Abrar Shifa,447,24,1993-06-07T00:00:00,M,Bronx,USA,NY,ETH,42,2:30:26,05:45,34,30:26,62,81.74,61
42,14987277,Agustin,Moreno,1118,32,1984-12-26T00:00:00,M,Zaragoza,ESP,None,ESP,43,2:30:28,05:45,35,30:26,64,81.73,2
43,14984623,Kyle,Larson,1117,27,1990-03-14T00:00:00,M,Chicago,USA,IL,USA,44,2:30:51,05:46,36,30:51,67,81.51,1
44,14961058,Rafael,Oliveira,460,37,1980-08-26T00:00:00,M,Porto,PRT,None,POR,45,2:31:03,05:46,37,29:16,46,82.37,1
45,15002980,GAMBINO,SALVATORE,1068,37,1980-02-09T00:00:00,M,Bolzano,ITA,None,ITA,46,2:31:12,05:46,38,29:25,48,82.30,1
46,14960151,Diane,Nukuri,106,32,1984-12-01T00:00:00,F,Flagstaff,USA,AZ,BDI,47,2:31:21,05:47,9,31:11,11,89.57,19
47,14977975,Mark,Sidebottom,1107,26,1991-08-08T00:00:00,M,Bethlehem,USA,PA,USA,48,2:31:24,05:47,39,31:24,74,81.21,1
48,14969332,Lane,Boyer,1019,28,1989-06-12T00:00:00,M,Nashville,USA,TN,USA,49,2:31:26,05:47,40,31:26,76,81.20,3
49,14952497,broderick,gann,1024,31,1986-01-21T00:00:00,M,New York,USA,NY,USA,50,2:31:33,05:47,41,31:33,79,81.14,10

In [15]:
#for loop to get each set of results per page of url
df = pd.DataFrame()
for index in range (1, 994): #or can do (pages+1 as end number)
    #print(index)
    body_dict['pageIndex']=index
    result = requests.post(url, json = body_dict, headers = headers)
    result_set = result.json()['response']['items']
    df = df.append(pd.DataFrame(result_set))
    print(df.shape) #or run tail here

(50, 19)
(100, 19)
(150, 19)
(200, 19)
(250, 19)
(300, 19)
(350, 19)
(400, 19)
(450, 19)
(500, 19)
(550, 19)
(600, 19)
(650, 19)
(700, 19)
(750, 19)
(800, 19)
(850, 19)
(900, 19)
(950, 19)
(1000, 19)
(1050, 19)
(1100, 19)
(1150, 19)
(1200, 19)
(1250, 19)
(1300, 19)
(1350, 19)
(1400, 19)
(1450, 19)
(1500, 19)
(1550, 19)
(1600, 19)
(1650, 19)
(1700, 19)
(1750, 19)
(1800, 19)
(1850, 19)
(1900, 19)
(1950, 19)
(2000, 19)
(2050, 19)
(2100, 19)
(2150, 19)
(2200, 19)
(2250, 19)
(2300, 19)
(2350, 19)
(2400, 19)
(2450, 19)
(2500, 19)
(2550, 19)
(2600, 19)
(2650, 19)
(2700, 19)
(2750, 19)
(2800, 19)
(2850, 19)
(2900, 19)
(2950, 19)
(3000, 19)
(3050, 19)
(3100, 19)
(3150, 19)
(3200, 19)
(3250, 19)
(3300, 19)
(3350, 19)
(3400, 19)
(3450, 19)
(3500, 19)
(3550, 19)
(3600, 19)
(3650, 19)
(3700, 19)
(3750, 19)
(3800, 19)
(3850, 19)
(3900, 19)
(3950, 19)
(4000, 19)
(4050, 19)
(4100, 19)
(4150, 19)
(4200, 19)
(4250, 19)
(4300, 19)
(4350, 19)
(4400, 19)
(4450, 19)
(4500, 19)
(4550, 19)
(4600, 19)
(4650, 19)
(4700, 19)
(4750, 19)
(4800, 19)
(4850, 19)
(4900, 19)
(4950, 19)
(5000, 19)
(5050, 19)
(5100, 19)
(5150, 19)
(5200, 19)
(5250, 19)
(5300, 19)
(5350, 19)
(5400, 19)
(5450, 19)
(5500, 19)
(5550, 19)
(5600, 19)
(5650, 19)
(5700, 19)
(5750, 19)
(5800, 19)
(5850, 19)
(5900, 19)
(5950, 19)
(6000, 19)
(6050, 19)
(6100, 19)
(6150, 19)
(6200, 19)
(6250, 19)
(6300, 19)
(6350, 19)
(6400, 19)
(6450, 19)
(6500, 19)
(6550, 19)
(6600, 19)
(6650, 19)
(6700, 19)
(6750, 19)
(6800, 19)
(6850, 19)
(6900, 19)
(6950, 19)
(7000, 19)
(7050, 19)
(7100, 19)
(7150, 19)
(7200, 19)
(7250, 19)
(7300, 19)
(7350, 19)
(7400, 19)
(7450, 19)
(7500, 19)
(7550, 19)
(7600, 19)
(7650, 19)
(7700, 19)
(7750, 19)
(7800, 19)
(7850, 19)
(7900, 19)
(7950, 19)
(8000, 19)
(8050, 19)
(8100, 19)
(8150, 19)
(8200, 19)
(8250, 19)
(8300, 19)
(8350, 19)
(8400, 19)
(8450, 19)
(8500, 19)
(8550, 19)
(8600, 19)
(8650, 19)
(8700, 19)
(8750, 19)
(8800, 19)
(8850, 19)
(8900, 19)
(8950, 19)
(9000, 19)
(9050, 19)
(9100, 19)
(9150, 19)
(9200, 19)
(9250, 19)
(9300, 19)
(9350, 19)
(9400, 19)
(9450, 19)
(9500, 19)
(9550, 19)
(9600, 19)
(9650, 19)
(9700, 19)
(9750, 19)
(9800, 19)
(9850, 19)
(9900, 19)
(9950, 19)
(10000, 19)
(10000, 19)
(10000, 19)
(10000, 19)
(10000, 19)
(10000, 19)
(10000, 19)
(10000, 19)
(10000, 19)
(10000, 19)
(10000, 19)
(10000, 19)
(10000, 19)
(10000, 19)
(10000, 19)
(10000, 19)
(10000, 19)
(10000, 19)
(10000, 19)
(10000, 19)
(10000, 19)

KeyboardInterrupt:

In [16]:
print(df.tail()) #this is stopping at runner place #10,000

    runnerId firstName lastName    bib  age            birthdate gender  \
45  14965912     Annie  Vaughan  20474   26  1991-05-29T00:00:00      F
46  14980967       Ian    Twite  17689   62  1955-10-04T00:00:00      M
47  14969118    Lesmes   Negrin  17246   41  1976-10-23T00:00:00      M
48  14974880       Tor  Ekeland  20074   48  1969-06-30T00:00:00      M
49  14969171     Emily     Long  27633   24  1993-06-12T00:00:00      F

          city countryCode stateProvince iaaf  overallPlace overallTime  \
45   Ridgewood         USA            NJ  USA          9996     3:50:06
46   Traralgon         AUS          None  AUS          9997     3:50:06
47  Los Teques         VEN          None  VEN          9998     3:50:06
48    Brooklyn         USA            NY  USA         10000     3:50:06
49         Ada         USA            MI  USA          9999     3:50:06

     pace  genderPlace ageGradeTime  ageGradePlace  ageGradePercent  \
45  08:47         2069        50:06           3765            58.85
46  08:47         7928        04:44           2389            66.56
47  08:47         7929        42:14           9575            55.33
48  08:47         7930        29:47           6638            58.61
49  08:47         2070        50:06           3766            58.85

    racesCount
45          16
46           1
47           3
48          65
49          13

In [17]:
print(body_dict)

{'eventCode': 'M2017', 'runnerId': None, 'searchString': None, 'countryCode': None, 'stateProvince': None, 'city': None, 'teamName': None, 'teamCode': None, 'gender': None, 'ageFrom': None, 'ageTo': None, 'overallPlaceFrom': None, 'overallPlaceTo': None, 'paceFrom': None, 'paceTo': None, 'overallTimeFrom': None, 'overallTimeTo': None, 'gunTimeFrom': None, 'gunTimeTo': None, 'ageGradedTimeFrom': None, 'ageGradedTimeTo': None, 'ageGradedPlaceFrom': None, 'ageGradedPlaceTo': None, 'ageGradedPerformanceFrom': None, 'ageGradedPerformanceTo': None, 'handicap': None, 'sortColumn': 'overallTime', 'sortDescending': False, 'pageIndex': 221, 'pageSize': 50}

In [18]:
df = df.reset_index(drop=True)

In [19]:
df.tail()

,runnerId,firstName,lastName,bib,age,birthdate,gender,city,countryCode,stateProvince,iaaf,overallPlace,overallTime,pace,genderPlace,ageGradeTime,ageGradePlace,ageGradePercent,racesCount
9995,14965912,Annie,Vaughan,20474,26,1991-05-29T00:00:00,F,Ridgewood,USA,NJ,USA,9996,3:50:06,08:47,2069,50:06,3765,58.85,16
9996,14980967,Ian,Twite,17689,62,1955-10-04T00:00:00,M,Traralgon,AUS,None,AUS,9997,3:50:06,08:47,7928,04:44,2389,66.56,1
9997,14969118,Lesmes,Negrin,17246,41,1976-10-23T00:00:00,M,Los Teques,VEN,None,VEN,9998,3:50:06,08:47,7929,42:14,9575,55.33,3
9998,14974880,Tor,Ekeland,20074,48,1969-06-30T00:00:00,M,Brooklyn,USA,NY,USA,10000,3:50:06,08:47,7930,29:47,6638,58.61,65
9999,14969171,Emily,Long,27633,24,1993-06-12T00:00:00,F,Ada,USA,MI,USA,9999,3:50:06,08:47,2070,50:06,3766,58.85,13

In [20]:
#export to csv to save each year results - only have first 10k places
df.to_csv('../data/nyc2017.csv')