In [1]:
import numpy as np
import json
import pandas as pd
import requests
from bs4 import BeautifulSoup as BS

In [2]:
items2018 = 52706
pages = 1034   #there are 51 runners per page here

In [3]:
headers ={'Token':'6112c32703f442f0'}
url = 'https://results.nyrr.org/api/runners/finishers-filter'
body = '{"eventCode":"M2018","runnerId":null,"searchString":null,"countryCode":null,"stateProvince":null,"city":null,"teamName":null,"teamCode":null,"gender":null,"ageFrom":null,"ageTo":null,"overallPlaceFrom":null,"overallPlaceTo":null,"paceFrom":null,"paceTo":null,"overallTimeFrom":null,"overallTimeTo":null,"gunTimeFrom":null,"gunTimeTo":null,"ageGradedTimeFrom":null,"ageGradedTimeTo":null,"ageGradedPlaceFrom":null,"ageGradedPlaceTo":null,"ageGradedPerformanceFrom":null,"ageGradedPerformanceTo":null,"handicap":null,"sortColumn":"overallTime","sortDescending":false,"pageIndex":1,"pageSize":50}'

In [4]:
body_dict = json.loads(body)

In [5]:
body_dict

{'eventCode': 'M2018',
 'runnerId': None,
 'searchString': None,
 'countryCode': None,
 'stateProvince': None,
 'city': None,
 'teamName': None,
 'teamCode': None,
 'gender': None,
 'ageFrom': None,
 'ageTo': None,
 'overallPlaceFrom': None,
 'overallPlaceTo': None,
 'paceFrom': None,
 'paceTo': None,
 'overallTimeFrom': None,
 'overallTimeTo': None,
 'gunTimeFrom': None,
 'gunTimeTo': None,
 'ageGradedTimeFrom': None,
 'ageGradedTimeTo': None,
 'ageGradedPlaceFrom': None,
 'ageGradedPlaceTo': None,
 'ageGradedPerformanceFrom': None,
 'ageGradedPerformanceTo': None,
 'handicap': None,
 'sortColumn': 'overallTime',
 'sortDescending': False,
 'pageIndex': 1,
 'pageSize': 50}

In [6]:
result = requests.post(url, json = body_dict, headers = headers)
result #Response 200 means ok

In [15]:
result_set = result.json()['response']['items']
#result.json() wil show first 50, have to nest down to response >items

In [16]:
pd.DataFrame(result_set)

,runnerId,firstName,lastName,bib,age,birthdate,gender,city,countryCode,stateProvince,iaaf,overallPlace,overallTime,pace,genderPlace,ageGradeTime,ageGradePlace,ageGradePercent,racesCount
0,22037467,Adrian,Solares Alvarez,10100,27,1991-06-19T00:00:00,M,Oviedo,ESP,None,ESP,1051,2:58:48,06:50,978,58:48,1929,68.77,2
1,22052343,Ilshat,Baltaev,5818,37,1981-09-25T00:00:00,M,Korolev,RUS,None,RUS,1052,2:58:48,06:50,979,56:42,1648,69.59,2
2,22022390,Gregg,Lemos-Stein,766,50,1968-09-10T00:00:00,M,Jersey City,USA,NJ,USA,1053,2:58:49,06:50,980,40:15,318,76.73,48
3,22038991,Sean,Bowman,1867,42,1975-11-23T00:00:00,M,Sunnyvale,USA,CA,USA,1054,2:58:50,06:50,981,51:24,1093,71.74,1
4,22024049,Christoffer,Johnston,1540,33,1985-06-27T00:00:00,M,Summit,USA,NJ,USA,1055,2:58:51,06:50,982,58:39,1899,68.83,45
5,22043136,Matthew,Lloyd-Thomas,3561,24,1994-03-28T00:00:00,M,Brooklyn,USA,NY,USA,1056,2:58:52,06:50,983,58:52,1939,68.74,9
6,22051987,Wanwen,Qi,521,43,1975-10-14T00:00:00,F,Pleasanton,USA,CA,USA,1057,2:58:53,06:50,74,49:44,70,79.78,1
7,22035098,Josh,Sklanka,3459,29,1989-05-31T00:00:00,M,New York,USA,NY,USA,1058,2:58:53,06:50,984,58:53,1944,68.73,12
8,22038089,Yaniv,Schulman,1000,34,1984-09-26T00:00:00,M,New York,USA,NY,USA,1059,2:58:54,06:50,985,58:25,1877,68.91,15
9,22036271,Maine,Goodfellow,3890,35,1983-01-06T00:00:00,M,Houston,USA,TX,USA,1060,2:58:55,06:50,986,58:01,1821,69.07,1
10,22073714,Fredrik,Berselius,6788,39,1979-04-11T00:00:00,M,Brooklyn,USA,NY,USA,1061,2:58:55,06:50,987,55:03,1469,70.24,1
11,22070998,Angel,Rodriguez Mas,9065,38,1980-05-27T00:00:00,M,Crevillent,ESP,None,ESP,1062,2:58:55,06:50,988,56:00,1577,69.86,1
12,22064269,Bui,Karason,4617,29,1989-01-12T00:00:00,M,Reykjavik,ISL,None,ISL,1063,2:58:56,06:50,989,58:56,1948,68.71,1
13,22024267,Adam,Mulia,559,42,1976-03-05T00:00:00,M,Brooklyn,USA,NY,USA,1064,2:58:57,06:50,990,51:30,1106,71.69,115
14,22049203,Marek,Sernicki,3527,55,1963-02-08T00:00:00,M,Ridgefield,USA,CT,POL,1065,2:58:57,06:50,991,33:24,141,80.16,2
15,22033075,Manfred,Wundara,2826,49,1969-03-31T00:00:00,M,Villach,AUT,None,AUT,1066,2:58:58,06:50,992,41:46,380,76.01,2
16,22072362,Andrew,Dubar,5768,37,1981-04-13T00:00:00,M,Elwood,AUS,None,AUS,1067,2:58:58,06:50,993,56:51,1666,69.52,4
17,22053056,Roberto,Kaisserlian Marmo Filho,4473,41,1977-03-25T00:00:00,M,000,BRA,None,BRA,1068,2:58:58,06:50,994,52:51,1245,71.13,1
18,22026035,Shane,McKeon,4843,41,1977-03-08T00:00:00,M,Sunnyside,USA,NY,USA,1069,2:58:58,06:50,995,52:51,1246,71.13,17
19,22036623,Taisuk,Kim,692,30,1988-01-22T00:00:00,M,Fresh Meadows,USA,NY,USA,1070,2:58:59,06:50,996,58:59,1952,68.70,27
20,22022536,Timothy,Walton,3574,45,1973-04-22T00:00:00,M,New York,USA,NY,USA,1071,2:58:59,06:50,997,47:21,724,73.47,12
21,22064536,Andreas,Thyrring,29087,33,1985-09-14T00:00:00,M,Copenhagen,DNK,None,DEN,1072,2:59:00,06:50,998,58:48,1927,68.77,2
22,22022724,Paul,Yeates,2120,45,1973-07-22T00:00:00,M,Brooklyn,USA,NY,USA,1073,2:59:00,06:50,999,47:22,725,73.47,41
23,22063414,Nicolas,Singy,4716,43,1975-02-25T00:00:00,M,Villarlod,CHE,None,SUI,1074,2:59:00,06:50,1000,50:09,980,72.26,1
24,22047203,Sam,Hitch,3405,25,1993-05-29T00:00:00,M,New York,USA,NY,USA,1075,2:59:01,06:50,1001,59:01,1956,68.69,19
25,22057591,Christer,Saelen,2300,36,1981-12-09T00:00:00,M,Arnatveit,NOR,None,NOR,1076,2:59:01,06:50,1002,57:35,1778,69.24,1
26,22055853,Ingrid,Wells,522,29,1989-03-29T00:00:00,F,New York,USA,NY,USA,1077,2:59:01,06:50,75,59:01,200,75.65,7
27,22064667,Yongwei,Guo,4497,39,1979-05-09T00:00:00,M,Beijing,CHN,None,CHN,1078,2:59:01,06:50,1003,55:09,1480,70.20,1
28,22061548,Guillaume,Desbois,8757,24,1994-09-02T00:00:00,M,Grenoble,FRA,None,FRA,1079,2:59:02,06:50,1004,59:02,1960,68.68,1
29,22068103,Andy,Douglas,4082,49,1969-05-01T00:00:00,M,Paddington,AUS,None,AUS,1080,2:59:02,06:50,1005,41:49,386,75.98,1
30,22053444,John,Yoder,11717,34,1983-11-29T00:00:00,M,Arvada,USA,CO,USA,1081,2:59:02,06:50,1006,58:33,1887,68.86,2
31,22030646,Thomas,Garvey,572,34,1984-05-05T00:00:00,M,New York,USA,NY,USA,1082,2:59:02,06:50,1007,58:33,1888,68.86,29
32,22025489,Evan Bernett,Wood,641,24,1994-02-01T00:00:00,M,New York,USA,NY,USA,1083,2:59:03,06:50,1008,59:03,1962,68.67,51
33,22029340,Bjarke,Kobberoe,2602,39,1979-10-17T00:00:00,M,Frederiksberg,DNK,None,DEN,1084,2:59:04,06:50,1009,55:12,1486,70.18,6
34,22062748,Alastair,Cameron,1004,34,1984-10-03T00:00:00,M,London,GBR,None,NED,1085,2:59:05,06:50,1010,58:36,1892,68.85,1
35,22061761,Cyril,Levy-Marchal,18159,42,1975-12-02T00:00:00,M,Fontenay Aux Roses,FRA,None,FRA,1086,2:59:05,06:50,1011,51:38,1122,71.64,1
36,22049555,Richard,Wolferz,2354,26,1992-10-20T00:00:00,M,Asbury,USA,NJ,USA,1087,2:59:05,06:50,1012,59:05,1968,68.66,1
37,22051966,Tommy,Marincic,5102,48,1970-10-03T00:00:00,M,Boston,USA,MA,USA,1088,2:59:05,06:50,1013,43:17,463,75.30,1
38,22071956,Yasuo,Nakai,4788,48,1970-10-10T00:00:00,M,Akashi-Shi,JPN,None,JPN,1089,2:59:06,06:50,1014,43:17,464,75.30,1
39,22051573,Jorge,Urena Lara,31246,42,1976-05-12T00:00:00,M,Terrassa,ESP,None,ESP,1090,2:59:06,06:50,1015,51:39,1126,71.63,1
40,22051553,Miguel,Aranda Cano,3544,47,1971-11-03T00:00:00,M,Strasbourg,FRA,None,ESP,1091,2:59:07,06:50,1016,44:42,538,74.66,1
41,22028027,Erin,Chamberlin,5548,43,1975-08-01T00:00:00,F,Clarksville,USA,MD,USA,1092,2:59:07,06:50,76,49:58,72,79.68,3
42,22042864,Fung,Lam,10182,36,1982-06-20T00:00:00,M,Caldwell,USA,NJ,USA,1093,2:59:07,06:50,1017,57:41,1788,69.20,2
43,22051147,Frederic,Meunier,4580,45,1973-01-10T00:00:00,M,Montreal,CAN,None,CAN,1094,2:59:07,06:50,1018,47:29,732,73.41,1
44,22027692,Brian,Byrne,2199,42,1976-10-28T00:00:00,M,London,CAN,None,CAN,1095,2:59:08,06:50,1019,51:40,1129,71.62,1
45,22047984,Conor,Twomey,3304,33,1985-05-10T00:00:00,M,New York,USA,NY,IRL,1096,2:59:08,06:50,1020,58:56,1947,68.71,18
46,22051812,Luis,Olmeda,2511,44,1974-04-29T00:00:00,M,San Sebastián De Los Reyes,ESP,None,ESP,1097,2:59:08,06:50,1021,48:54,849,72.80,1
47,22046788,Satoshi,Funakoshi,2233,45,1973-10-09T00:00:00,M,Mishima-Gun,JPN,None,JPN,1098,2:59:09,06:50,1022,47:31,736,73.40,9
48,22051120,William,Hallock,1864,26,1991-12-10T00:00:00,M,Seattle,USA,WA,USA,1099,2:59:09,06:50,1023,59:09,1980,68.63,1
49,22051431,Alf,Tumble,3595,40,1978-02-27T00:00:00,M,Stockholm,SWE,None,SWE,1100,2:59:10,06:50,1024,54:14,1384,70.57,1

In [17]:
df = pd.DataFrame(result_set)

In [18]:
df

,runnerId,firstName,lastName,bib,age,birthdate,gender,city,countryCode,stateProvince,iaaf,overallPlace,overallTime,pace,genderPlace,ageGradeTime,ageGradePlace,ageGradePercent,racesCount
0,22037467,Adrian,Solares Alvarez,10100,27,1991-06-19T00:00:00,M,Oviedo,ESP,None,ESP,1051,2:58:48,06:50,978,58:48,1929,68.77,2
1,22052343,Ilshat,Baltaev,5818,37,1981-09-25T00:00:00,M,Korolev,RUS,None,RUS,1052,2:58:48,06:50,979,56:42,1648,69.59,2
2,22022390,Gregg,Lemos-Stein,766,50,1968-09-10T00:00:00,M,Jersey City,USA,NJ,USA,1053,2:58:49,06:50,980,40:15,318,76.73,48
3,22038991,Sean,Bowman,1867,42,1975-11-23T00:00:00,M,Sunnyvale,USA,CA,USA,1054,2:58:50,06:50,981,51:24,1093,71.74,1
4,22024049,Christoffer,Johnston,1540,33,1985-06-27T00:00:00,M,Summit,USA,NJ,USA,1055,2:58:51,06:50,982,58:39,1899,68.83,45
5,22043136,Matthew,Lloyd-Thomas,3561,24,1994-03-28T00:00:00,M,Brooklyn,USA,NY,USA,1056,2:58:52,06:50,983,58:52,1939,68.74,9
6,22051987,Wanwen,Qi,521,43,1975-10-14T00:00:00,F,Pleasanton,USA,CA,USA,1057,2:58:53,06:50,74,49:44,70,79.78,1
7,22035098,Josh,Sklanka,3459,29,1989-05-31T00:00:00,M,New York,USA,NY,USA,1058,2:58:53,06:50,984,58:53,1944,68.73,12
8,22038089,Yaniv,Schulman,1000,34,1984-09-26T00:00:00,M,New York,USA,NY,USA,1059,2:58:54,06:50,985,58:25,1877,68.91,15
9,22036271,Maine,Goodfellow,3890,35,1983-01-06T00:00:00,M,Houston,USA,TX,USA,1060,2:58:55,06:50,986,58:01,1821,69.07,1
10,22073714,Fredrik,Berselius,6788,39,1979-04-11T00:00:00,M,Brooklyn,USA,NY,USA,1061,2:58:55,06:50,987,55:03,1469,70.24,1
11,22070998,Angel,Rodriguez Mas,9065,38,1980-05-27T00:00:00,M,Crevillent,ESP,None,ESP,1062,2:58:55,06:50,988,56:00,1577,69.86,1
12,22064269,Bui,Karason,4617,29,1989-01-12T00:00:00,M,Reykjavik,ISL,None,ISL,1063,2:58:56,06:50,989,58:56,1948,68.71,1
13,22024267,Adam,Mulia,559,42,1976-03-05T00:00:00,M,Brooklyn,USA,NY,USA,1064,2:58:57,06:50,990,51:30,1106,71.69,115
14,22049203,Marek,Sernicki,3527,55,1963-02-08T00:00:00,M,Ridgefield,USA,CT,POL,1065,2:58:57,06:50,991,33:24,141,80.16,2
15,22033075,Manfred,Wundara,2826,49,1969-03-31T00:00:00,M,Villach,AUT,None,AUT,1066,2:58:58,06:50,992,41:46,380,76.01,2
16,22072362,Andrew,Dubar,5768,37,1981-04-13T00:00:00,M,Elwood,AUS,None,AUS,1067,2:58:58,06:50,993,56:51,1666,69.52,4
17,22053056,Roberto,Kaisserlian Marmo Filho,4473,41,1977-03-25T00:00:00,M,000,BRA,None,BRA,1068,2:58:58,06:50,994,52:51,1245,71.13,1
18,22026035,Shane,McKeon,4843,41,1977-03-08T00:00:00,M,Sunnyside,USA,NY,USA,1069,2:58:58,06:50,995,52:51,1246,71.13,17
19,22036623,Taisuk,Kim,692,30,1988-01-22T00:00:00,M,Fresh Meadows,USA,NY,USA,1070,2:58:59,06:50,996,58:59,1952,68.70,27
20,22022536,Timothy,Walton,3574,45,1973-04-22T00:00:00,M,New York,USA,NY,USA,1071,2:58:59,06:50,997,47:21,724,73.47,12
21,22064536,Andreas,Thyrring,29087,33,1985-09-14T00:00:00,M,Copenhagen,DNK,None,DEN,1072,2:59:00,06:50,998,58:48,1927,68.77,2
22,22022724,Paul,Yeates,2120,45,1973-07-22T00:00:00,M,Brooklyn,USA,NY,USA,1073,2:59:00,06:50,999,47:22,725,73.47,41
23,22063414,Nicolas,Singy,4716,43,1975-02-25T00:00:00,M,Villarlod,CHE,None,SUI,1074,2:59:00,06:50,1000,50:09,980,72.26,1
24,22047203,Sam,Hitch,3405,25,1993-05-29T00:00:00,M,New York,USA,NY,USA,1075,2:59:01,06:50,1001,59:01,1956,68.69,19
25,22057591,Christer,Saelen,2300,36,1981-12-09T00:00:00,M,Arnatveit,NOR,None,NOR,1076,2:59:01,06:50,1002,57:35,1778,69.24,1
26,22055853,Ingrid,Wells,522,29,1989-03-29T00:00:00,F,New York,USA,NY,USA,1077,2:59:01,06:50,75,59:01,200,75.65,7
27,22064667,Yongwei,Guo,4497,39,1979-05-09T00:00:00,M,Beijing,CHN,None,CHN,1078,2:59:01,06:50,1003,55:09,1480,70.20,1
28,22061548,Guillaume,Desbois,8757,24,1994-09-02T00:00:00,M,Grenoble,FRA,None,FRA,1079,2:59:02,06:50,1004,59:02,1960,68.68,1
29,22068103,Andy,Douglas,4082,49,1969-05-01T00:00:00,M,Paddington,AUS,None,AUS,1080,2:59:02,06:50,1005,41:49,386,75.98,1
30,22053444,John,Yoder,11717,34,1983-11-29T00:00:00,M,Arvada,USA,CO,USA,1081,2:59:02,06:50,1006,58:33,1887,68.86,2
31,22030646,Thomas,Garvey,572,34,1984-05-05T00:00:00,M,New York,USA,NY,USA,1082,2:59:02,06:50,1007,58:33,1888,68.86,29
32,22025489,Evan Bernett,Wood,641,24,1994-02-01T00:00:00,M,New York,USA,NY,USA,1083,2:59:03,06:50,1008,59:03,1962,68.67,51
33,22029340,Bjarke,Kobberoe,2602,39,1979-10-17T00:00:00,M,Frederiksberg,DNK,None,DEN,1084,2:59:04,06:50,1009,55:12,1486,70.18,6
34,22062748,Alastair,Cameron,1004,34,1984-10-03T00:00:00,M,London,GBR,None,NED,1085,2:59:05,06:50,1010,58:36,1892,68.85,1
35,22061761,Cyril,Levy-Marchal,18159,42,1975-12-02T00:00:00,M,Fontenay Aux Roses,FRA,None,FRA,1086,2:59:05,06:50,1011,51:38,1122,71.64,1
36,22049555,Richard,Wolferz,2354,26,1992-10-20T00:00:00,M,Asbury,USA,NJ,USA,1087,2:59:05,06:50,1012,59:05,1968,68.66,1
37,22051966,Tommy,Marincic,5102,48,1970-10-03T00:00:00,M,Boston,USA,MA,USA,1088,2:59:05,06:50,1013,43:17,463,75.30,1
38,22071956,Yasuo,Nakai,4788,48,1970-10-10T00:00:00,M,Akashi-Shi,JPN,None,JPN,1089,2:59:06,06:50,1014,43:17,464,75.30,1
39,22051573,Jorge,Urena Lara,31246,42,1976-05-12T00:00:00,M,Terrassa,ESP,None,ESP,1090,2:59:06,06:50,1015,51:39,1126,71.63,1
40,22051553,Miguel,Aranda Cano,3544,47,1971-11-03T00:00:00,M,Strasbourg,FRA,None,ESP,1091,2:59:07,06:50,1016,44:42,538,74.66,1
41,22028027,Erin,Chamberlin,5548,43,1975-08-01T00:00:00,F,Clarksville,USA,MD,USA,1092,2:59:07,06:50,76,49:58,72,79.68,3
42,22042864,Fung,Lam,10182,36,1982-06-20T00:00:00,M,Caldwell,USA,NJ,USA,1093,2:59:07,06:50,1017,57:41,1788,69.20,2
43,22051147,Frederic,Meunier,4580,45,1973-01-10T00:00:00,M,Montreal,CAN,None,CAN,1094,2:59:07,06:50,1018,47:29,732,73.41,1
44,22027692,Brian,Byrne,2199,42,1976-10-28T00:00:00,M,London,CAN,None,CAN,1095,2:59:08,06:50,1019,51:40,1129,71.62,1
45,22047984,Conor,Twomey,3304,33,1985-05-10T00:00:00,M,New York,USA,NY,IRL,1096,2:59:08,06:50,1020,58:56,1947,68.71,18
46,22051812,Luis,Olmeda,2511,44,1974-04-29T00:00:00,M,San Sebastián De Los Reyes,ESP,None,ESP,1097,2:59:08,06:50,1021,48:54,849,72.80,1
47,22046788,Satoshi,Funakoshi,2233,45,1973-10-09T00:00:00,M,Mishima-Gun,JPN,None,JPN,1098,2:59:09,06:50,1022,47:31,736,73.40,9
48,22051120,William,Hallock,1864,26,1991-12-10T00:00:00,M,Seattle,USA,WA,USA,1099,2:59:09,06:50,1023,59:09,1980,68.63,1
49,22051431,Alf,Tumble,3595,40,1978-02-27T00:00:00,M,Stockholm,SWE,None,SWE,1100,2:59:10,06:50,1024,54:14,1384,70.57,1

In [19]:
#for loop to get each set of results per page of url
df = pd.DataFrame()
for index in range (1, 1035): #or can do (pages+1 as end number)
    #print(index)
    body_dict['pageIndex']=index
    result = requests.post(url, json = body_dict, headers = headers)
    result_set = result.json()['response']['items']
    df = df.append(pd.DataFrame(result_set))
    print(df.shape) #or run tail here

(50, 19)
(100, 19)
(150, 19)
(200, 19)
(250, 19)
(300, 19)
(350, 19)
(400, 19)
(450, 19)
(500, 19)
(550, 19)
(600, 19)
(650, 19)
(700, 19)
(750, 19)
(800, 19)
(850, 19)
(900, 19)
(950, 19)
(1000, 19)
(1050, 19)
(1100, 19)
(1150, 19)
(1200, 19)
(1250, 19)
(1300, 19)
(1350, 19)
(1400, 19)
(1450, 19)
(1500, 19)
(1550, 19)
(1600, 19)
(1650, 19)
(1700, 19)
(1750, 19)
(1800, 19)
(1850, 19)
(1900, 19)
(1950, 19)
(2000, 19)
(2050, 19)
(2100, 19)
(2150, 19)
(2200, 19)
(2250, 19)
(2300, 19)
(2350, 19)
(2400, 19)
(2450, 19)
(2500, 19)
(2550, 19)
(2600, 19)
(2650, 19)
(2700, 19)
(2750, 19)
(2800, 19)
(2850, 19)
(2900, 19)
(2950, 19)
(3000, 19)
(3050, 19)
(3100, 19)
(3150, 19)
(3200, 19)
(3250, 19)
(3300, 19)
(3350, 19)
(3400, 19)
(3450, 19)
(3500, 19)
(3550, 19)
(3600, 19)
(3650, 19)
(3700, 19)
(3750, 19)
(3800, 19)
(3850, 19)
(3900, 19)
(3950, 19)
(4000, 19)
(4050, 19)
(4100, 19)
(4150, 19)
(4200, 19)
(4250, 19)
(4300, 19)
(4350, 19)
(4400, 19)
(4450, 19)
(4500, 19)
(4550, 19)
(4600, 19)
(4650, 19)
(4700, 19)
(4750, 19)
(4800, 19)
(4850, 19)
(4900, 19)
(4950, 19)
(5000, 19)
(5050, 19)
(5100, 19)
(5150, 19)
(5200, 19)
(5250, 19)
(5300, 19)
(5350, 19)
(5400, 19)
(5450, 19)
(5500, 19)
(5550, 19)
(5600, 19)
(5650, 19)
(5700, 19)
(5750, 19)
(5800, 19)
(5850, 19)
(5900, 19)
(5950, 19)
(6000, 19)
(6050, 19)
(6100, 19)
(6150, 19)
(6200, 19)
(6250, 19)
(6300, 19)
(6350, 19)
(6400, 19)
(6450, 19)
(6500, 19)
(6550, 19)
(6600, 19)
(6650, 19)
(6700, 19)
(6750, 19)
(6800, 19)
(6850, 19)
(6900, 19)
(6950, 19)
(7000, 19)
(7050, 19)
(7100, 19)
(7150, 19)
(7200, 19)
(7250, 19)
(7300, 19)
(7350, 19)
(7400, 19)
(7450, 19)
(7500, 19)
(7550, 19)
(7600, 19)
(7650, 19)
(7700, 19)
(7750, 19)
(7800, 19)
(7850, 19)
(7900, 19)
(7950, 19)
(8000, 19)
(8050, 19)
(8100, 19)
(8150, 19)
(8200, 19)
(8250, 19)
(8300, 19)
(8350, 19)
(8400, 19)
(8450, 19)
(8500, 19)
(8550, 19)
(8600, 19)
(8650, 19)
(8700, 19)
(8750, 19)
(8800, 19)
(8850, 19)
(8900, 19)
(8950, 19)
(9000, 19)
(9050, 19)
(9100, 19)
(9150, 19)
(9200, 19)
(9250, 19)
(9300, 19)
(9350, 19)
(9400, 19)
(9450, 19)
(9500, 19)
(9550, 19)
(9600, 19)
(9650, 19)
(9700, 19)
(9750, 19)
(9800, 19)
(9850, 19)
(9900, 19)
(9950, 19)
(10000, 19)
(10000, 19)
(10000, 19)
(10000, 19)
(10000, 19)
(10000, 19)
(10000, 19)
(10000, 19)
(10000, 19)
(10000, 19)
(10000, 19)
(10000, 19)
(10000, 19)

KeyboardInterrupt:

In [20]:
print(df.tail()) #this is stopping at runner place #10,000

    runnerId firstName    lastName    bib  age            birthdate gender  \
45  22038102    Thuong       Hoang  20353   29  1989-06-22T00:00:00      M
46  22028515    Gilson    Oliveira  27805   46  1972-01-17T00:00:00      M
47  22064620   Terence     Gelston  24205   48  1969-11-08T00:00:00      M
48  22061688   Florian  Guillebert   8388   40  1978-09-11T00:00:00      M
49  22057479   Patrick     Kuenzle  26235   44  1974-01-14T00:00:00      M

         city countryCode stateProvince iaaf  overallPlace overallTime   pace  \
45    Astoria         USA            NY  USA          9996     3:48:15  08:43
46   Brasilia         BRA          None  BRA          9997     3:48:15  08:43
47      Rugby         GBR          None  GBR          9998     3:48:16  08:43
48     Cuincy         FRA          None  FRA          9999     3:48:16  08:43
49  Buggingen         DEU          None  SUI         10000     3:48:16  08:43

    genderPlace ageGradeTime  ageGradePlace  ageGradePercent  racesCount
45         7832        48:15          11358            53.87          38
46         7833        31:40           7463            58.09           2
47         7834        28:06           6665            59.08           1
48         7835        41:59           9807            55.39           2
49         7836        35:13           8229            57.13           1

In [21]:
print(body_dict)

{'eventCode': 'M2018', 'runnerId': None, 'searchString': None, 'countryCode': None, 'stateProvince': None, 'city': None, 'teamName': None, 'teamCode': None, 'gender': None, 'ageFrom': None, 'ageTo': None, 'overallPlaceFrom': None, 'overallPlaceTo': None, 'paceFrom': None, 'paceTo': None, 'overallTimeFrom': None, 'overallTimeTo': None, 'gunTimeFrom': None, 'gunTimeTo': None, 'ageGradedTimeFrom': None, 'ageGradedTimeTo': None, 'ageGradedPlaceFrom': None, 'ageGradedPlaceTo': None, 'ageGradedPerformanceFrom': None, 'ageGradedPerformanceTo': None, 'handicap': None, 'sortColumn': 'overallTime', 'sortDescending': False, 'pageIndex': 213, 'pageSize': 50}

In [22]:
df = df.reset_index(drop=True)

In [23]:
df.tail()

,runnerId,firstName,lastName,bib,age,birthdate,gender,city,countryCode,stateProvince,iaaf,overallPlace,overallTime,pace,genderPlace,ageGradeTime,ageGradePlace,ageGradePercent,racesCount
9995,22038102,Thuong,Hoang,20353,29,1989-06-22T00:00:00,M,Astoria,USA,NY,USA,9996,3:48:15,08:43,7832,48:15,11358,53.87,38
9996,22028515,Gilson,Oliveira,27805,46,1972-01-17T00:00:00,M,Brasilia,BRA,None,BRA,9997,3:48:15,08:43,7833,31:40,7463,58.09,2
9997,22064620,Terence,Gelston,24205,48,1969-11-08T00:00:00,M,Rugby,GBR,None,GBR,9998,3:48:16,08:43,7834,28:06,6665,59.08,1
9998,22061688,Florian,Guillebert,8388,40,1978-09-11T00:00:00,M,Cuincy,FRA,None,FRA,9999,3:48:16,08:43,7835,41:59,9807,55.39,2
9999,22057479,Patrick,Kuenzle,26235,44,1974-01-14T00:00:00,M,Buggingen,DEU,None,SUI,10000,3:48:16,08:43,7836,35:13,8229,57.13,1

In [24]:
#export to csv to save each year results - only have first 10k places
df.to_csv('../data/nyc2018.csv')