In [48]:
import pandas as pd

In [49]:
nyc_2015 = pd.read_csv('../data/nyc2015.csv')
nyc_2016 = pd.read_csv('../data/nyc2016.csv')
nyc_2017 = pd.read_csv('../data/nyc2017.csv')
nyc_2018 = pd.read_csv('../data/nyc2018.csv')
nyc_2019 = pd.read_csv('../data/nyc2019.csv')

In [50]:
#add year column to each race
nyc_2015['year'] = '2015'
nyc_2016['year'] = '2016'
nyc_2017['year'] = '2017'
nyc_2018['year'] = '2018'
nyc_2019['year'] = '2019'

In [51]:
nyc_2015.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 21 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       10000 non-null  int64
 1   runnerId         10000 non-null  int64
 2   firstName        10000 non-null  object
 3   lastName         10000 non-null  object
 4   bib              10000 non-null  int64
 5   age              10000 non-null  int64
 6   birthdate        10000 non-null  object
 7   gender           10000 non-null  object
 8   city             9999 non-null   object
 9   countryCode      10000 non-null  object
 10  stateProvince    5366 non-null   object
 11  iaaf             10000 non-null  object
 12  overallPlace     10000 non-null  int64
 13  overallTime      10000 non-null  object
 14  pace             10000 non-null  object
 15  genderPlace      10000 non-null  int64
 16  ageGradeTime     10000 non-null  object
 17  ageGradePlace    10000 non-null  int64
 18  ageGradePercent  10000 non-null  float64
 19  racesCount       10000 non-null  int64
 20  year             10000 non-null  object
dtypes: float64(1), int64(8), object(12)
memory usage: 1.6+ MB

In [52]:
#confirming first 10k per year
print(nyc_2015.shape)
print(nyc_2016.shape)
print(nyc_2017.shape)
print(nyc_2018.shape)
print(nyc_2019.shape)

(10000, 21)
(10000, 21)
(10000, 21)
(10000, 21)
(10000, 21)

In [53]:
nyc_2016.loc[3034]

Unnamed: 0                        3034
runnerId                      19788849
firstName                       Nicole
lastName                     Muldowney
bib                               6244
age                                 26
birthdate          1990-06-13T00:00:00
gender                               F
city                        Birmingham
countryCode                        USA
stateProvince                       AL
iaaf                               USA
overallPlace                      3035
overallTime                    3:22:04
pace                             07:43
genderPlace                        377
ageGradeTime                     22:04
ageGradePlace                      923
ageGradePercent                  67.02
racesCount                           2
year                              2016
Name: 3034, dtype: object

In [54]:
#concat all race files
nyc_races = pd.concat([nyc_2015, nyc_2016,nyc_2017,nyc_2018,nyc_2019], axis=0)

In [55]:
nyc_races.head()

,Unnamed: 0,runnerId,firstName,lastName,bib,age,birthdate,gender,city,countryCode,...,iaaf,overallPlace,overallTime,pace,genderPlace,ageGradeTime,ageGradePlace,ageGradePercent,racesCount,year
0,0,16619869,Stanley,Biwott,5,29,1986-04-21T00:00:00,M,Eldoret,KEN,...,KEN,1,2:10:34,04:59,1,10:34,2,94.18,2,2015
1,1,16654079,Geoffery,Kamworor,6,22,1992-11-22T00:00:00,M,Kapchorwa District,KEN,...,KEN,2,2:10:48,05:00,2,10:48,3,94.00,4,2015
2,2,16611443,Lelisa,Desisa,2,25,1990-01-14T00:00:00,M,Addis Ababa,ETH,...,ETH,3,2:12:10,05:03,3,12:10,4,93.03,5,2015
3,3,16616462,Wilson,Kipsang,1,33,1982-03-15T00:00:00,M,Iten,KEN,...,KEN,4,2:12:45,05:04,4,12:36,5,92.73,5,2015
4,4,16654080,Yemane,Tsegay,7,30,1985-04-08T00:00:00,M,Addis Ababa,ETH,...,ETH,5,2:13:24,05:06,5,13:24,6,92.18,1,2015

In [58]:
#remove/drop columns that are not needed: Unnamed: 0 for now (Maybe later: ageGradeTime, ageGradePlace, ageGradePercent,racesCount) 
nyc_races = nyc_races.drop(columns = ['Unnamed: 0','bib'], axis=1)
nyc_races.columns

Index(['runnerId', 'firstName', 'lastName', 'age', 'birthdate', 'gender',
       'city', 'countryCode', 'stateProvince', 'iaaf', 'overallPlace',
       'overallTime', 'pace', 'genderPlace', 'ageGradeTime', 'ageGradePlace',
       'ageGradePercent', 'racesCount', 'year'],
      dtype='object')

In [59]:
nyc_races['ageGradePercent'].describe()

count    50000.000000
mean        64.228865
std          6.600073
min         52.590000
25%         59.270000
50%         63.370000
75%         68.500000
max         97.600000
Name: ageGradePercent, dtype: float64

In [60]:
nyc_races.loc[nyc_races['runnerId'] == 19788849]

,runnerId,firstName,lastName,age,birthdate,gender,city,countryCode,stateProvince,iaaf,overallPlace,overallTime,pace,genderPlace,ageGradeTime,ageGradePlace,ageGradePercent,racesCount,year
3034,19788849,Nicole,Muldowney,26,1990-06-13T00:00:00,F,Birmingham,USA,AL,USA,3035,3:22:04,07:43,377,22:04,923,67.02,2,2016

In [ ]:
#rename columns for usability/readability ...shorten names
#fill null state rows? and 1 null city row?

In [ ]:
#change Time to timedelta, remove birthdate time portion?