In [1]:
import pandas as pd

In [8]:
nyc_weather=pd.read_csv('../data/nyc_weather.csv')

In [9]:
nyc_weather

,Year,DY,MAX,MIN,AVG,DEP,HDD,CDD,WTR,SNW,DPTH,SPD,SPD.1,DIR,MIN.1,PSBL,S-S,WX,SPD.2,DR
0,2015,1,65,54,60,8,5,0,0.00,0,0,5,16,240,M,M,5,23,240,NaN
1,2016,6,59,45,52,1,13,0,0.00,0,0,7.5,16,20,M,M,1,26,20,NaN
2,2017,5,61,51,56,5,9,0,0.02,0,0,4.2,12,120,M,M,10,1,17,100.0
3,2018,4,55,43,49,-2,16,0,0.00,0,0,M,M,M,M,M,0,M,M,NaN
4,2019,3,54,42,48,-4,17,0,0.00,0,0,4.8,13,280,M,M,2,18,290,NaN

In [10]:
#drop some columns and rename others
nyc_weather = nyc_weather.drop(columns = ['SNW','DPTH','MIN.1','PSBL'], axis=1)
nyc_weather = nyc_weather.rename(columns={'MAX': 'max_temp', 'MIN':'min_temp','AVG':'avg_temp',
                                          'WTR':'precipitation',
                                          'S-S':'sky_coverage'})

In [11]:
nyc_weather

,Year,DY,max_temp,min_temp,avg_temp,DEP,HDD,CDD,precipitation,SPD,SPD.1,DIR,sky_coverage,WX,SPD.2,DR
0,2015,1,65,54,60,8,5,0,0.00,5,16,240,5,23,240,NaN
1,2016,6,59,45,52,1,13,0,0.00,7.5,16,20,1,26,20,NaN
2,2017,5,61,51,56,5,9,0,0.02,4.2,12,120,10,1,17,100.0
3,2018,4,55,43,49,-2,16,0,0.00,M,M,M,0,M,M,NaN
4,2019,3,54,42,48,-4,17,0,0.00,4.8,13,280,2,18,290,NaN

In [13]:
gdp=pd.read_csv('../data/gdp_clean.csv')

In [14]:
gdp

,Country Name,Country Code,Indicator Name,Indicator Code,2015,2016,2017,2018
0,Aruba,ABW,GDP per capita (current US$),NY.GDP.PCAP.CD,25796.380250,25239.600410,25630.266490,NaN
1,Afghanistan,AFG,GDP per capita (current US$),NY.GDP.PCAP.CD,578.466353,547.228110,556.302138,520.896603
2,Angola,AGO,GDP per capita (current US$),NY.GDP.PCAP.CD,4166.979684,3506.072885,4095.812942,3432.385736
3,Albania,ALB,GDP per capita (current US$),NY.GDP.PCAP.CD,3952.829458,4124.108907,4532.890162,5268.848504
4,Andorra,AND,GDP per capita (current US$),NY.GDP.PCAP.CD,36039.653500,37224.108920,39134.393370,42029.762740
...,...,...,...,...,...,...,...,...
259,Kosovo,XKX,GDP per capita (current US$),NY.GDP.PCAP.CD,3574.241120,3697.129595,3948.052670,4302.276483
260,"Yemen, Rep.",YEM,GDP per capita (current US$),NY.GDP.PCAP.CD,1608.744312,1139.870568,963.494721,944.408499
261,South Africa,ZAF,GDP per capita (current US$),NY.GDP.PCAP.CD,5734.633629,5272.918425,6132.479841,6374.028196
262,Zambia,ZMB,GDP per capita (current US$),NY.GDP.PCAP.CD,1337.796315,1280.578447,1534.865371,1539.900158
263,Zimbabwe,ZWE,GDP per capita (current US$),NY.GDP.PCAP.CD,1445.071062,1464.583529,1602.403507,2146.996385

In [15]:
#drop some columns and rename others
gdp = gdp.drop(columns = ['Indicator Code'], axis=1)
gdp = gdp.rename(columns={'Country Name': 'country', 'Country Code':'country_code',
                                          'Indicator Name':'indicator_name',})

In [16]:
gdp

,country,country_code,indicator_name,2015,2016,2017,2018
0,Aruba,ABW,GDP per capita (current US$),25796.380250,25239.600410,25630.266490,NaN
1,Afghanistan,AFG,GDP per capita (current US$),578.466353,547.228110,556.302138,520.896603
2,Angola,AGO,GDP per capita (current US$),4166.979684,3506.072885,4095.812942,3432.385736
3,Albania,ALB,GDP per capita (current US$),3952.829458,4124.108907,4532.890162,5268.848504
4,Andorra,AND,GDP per capita (current US$),36039.653500,37224.108920,39134.393370,42029.762740
...,...,...,...,...,...,...,...
259,Kosovo,XKX,GDP per capita (current US$),3574.241120,3697.129595,3948.052670,4302.276483
260,"Yemen, Rep.",YEM,GDP per capita (current US$),1608.744312,1139.870568,963.494721,944.408499
261,South Africa,ZAF,GDP per capita (current US$),5734.633629,5272.918425,6132.479841,6374.028196
262,Zambia,ZMB,GDP per capita (current US$),1337.796315,1280.578447,1534.865371,1539.900158
263,Zimbabwe,ZWE,GDP per capita (current US$),1445.071062,1464.583529,1602.403507,2146.996385

In [17]:
gdp.describe()

                2015           2016           2017           2018
count     251.000000     250.000000     247.000000     239.000000
mean    14962.582227   15094.325817   14922.943969   15122.493351
std     22673.590154   22855.302141   21316.533306   22220.891912
min       293.455236     282.193130     292.997631     271.752044
25%      2067.475587    2177.431269    2109.104253    2082.936332
50%      6124.491643    5924.917489    6213.501276    6389.161736
75%     17106.400145   17821.571225   17136.270745   17203.941600
max    167290.940000  169915.804800  167101.759400  185741.280000

In [26]:
gdp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 264 entries, 0 to 263
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   country         264 non-null    object
 1   country_code    264 non-null    object
 2   indicator_name  264 non-null    object
 3   2015            251 non-null    float64
 4   2016            250 non-null    float64
 5   2017            247 non-null    float64
 6   2018            239 non-null    float64
dtypes: float64(4), object(3)
memory usage: 14.6+ KB

In [33]:
gdp['2018'].sort_values()

14     271.752044
211    314.544166
166    389.398033
171    413.980305
32     475.721250
          ...
225           NaN
236           NaN
252           NaN
253           NaN
254           NaN
Name: 2018, Length: 264, dtype: float64

In [ ]:
#if 2018 is null GDP value, then return the average of 2015-2017?

In [ ]:
#convert to csv for visuals in Tableau