In [3]:
import pandas as pd
import numpy as np

# Weather Data

In [2]:
nyc_weather=pd.read_csv('../data/nyc_weather.csv')

In [84]:
nyc_weather_copy=pd.read_csv('../data/nyc_weather copy.csv')

In [85]:
nyc_weather_copy

,Year,DY,MAX,MIN,AVG,DEP,HDD,CDD,WTR,SNW,...,DIR,MIN.1,PSBL,S-S,WX,SPD.2,DR,Rel Hum % - Start,Rel Hum % - 2 hrs,Rel Hum % - 4 hrs
0,2015,1,65,54,60,8,5,0,0.00,0,...,240,M,M,5,23,240,NaN,64,65,60
1,2016,6,59,45,52,1,13,0,0.00,0,...,20,M,M,1,26,20,NaN,45,39,39
2,2017,5,61,51,56,5,9,0,0.02,0,...,120,M,M,10,1,17,100.0,81,90,93
3,2018,4,55,43,49,-2,16,0,0.00,0,...,M,M,M,0,M,M,NaN,46,40,34
4,2019,3,54,42,48,-4,17,0,0.00,0,...,280,M,M,2,18,290,NaN,52,44,41

In [3]:
nyc_weather

,Year,DY,MAX,MIN,AVG,DEP,HDD,CDD,WTR,SNW,DPTH,SPD,SPD.1,DIR,MIN.1,PSBL,S-S,WX,SPD.2,DR
0,2015,1,65,54,60,8,5,0,0.00,0,0,5,16,240,M,M,5,23,240,NaN
1,2016,6,59,45,52,1,13,0,0.00,0,0,7.5,16,20,M,M,1,26,20,NaN
2,2017,5,61,51,56,5,9,0,0.02,0,0,4.2,12,120,M,M,10,1,17,100.0
3,2018,4,55,43,49,-2,16,0,0.00,0,0,M,M,M,M,M,0,M,M,NaN
4,2019,3,54,42,48,-4,17,0,0.00,0,0,4.8,13,280,M,M,2,18,290,NaN

In [4]:
#drop some columns and rename others
nyc_weather = nyc_weather.drop(columns = ['SNW','DPTH','MIN.1','PSBL'], axis=1)
nyc_weather = nyc_weather.rename(columns={'MAX': 'max_temp', 'MIN':'min_temp','AVG':'avg_temp',
                                          'WTR':'precipitation',
                                          'S-S':'sky_coverage'})

In [5]:
nyc_weather

,Year,DY,max_temp,min_temp,avg_temp,DEP,HDD,CDD,precipitation,SPD,SPD.1,DIR,sky_coverage,WX,SPD.2,DR
0,2015,1,65,54,60,8,5,0,0.00,5,16,240,5,23,240,NaN
1,2016,6,59,45,52,1,13,0,0.00,7.5,16,20,1,26,20,NaN
2,2017,5,61,51,56,5,9,0,0.02,4.2,12,120,10,1,17,100.0
3,2018,4,55,43,49,-2,16,0,0.00,M,M,M,0,M,M,NaN
4,2019,3,54,42,48,-4,17,0,0.00,4.8,13,280,2,18,290,NaN


# GDP Data

In [46]:
gdp_percap = pd.read_csv('../data/gdp_per_capita.csv')

In [47]:
gdp_percap = gdp_percap.drop(gdp_percap.index[0:3]) 
gdp_percap = gdp_percap.reset_index(drop = True)
gdp_percap.head(3)

,Data Source,World Development Indicators,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 54,Unnamed: 55,Unnamed: 56,Unnamed: 57,Unnamed: 58,Unnamed: 59,Unnamed: 60,Unnamed: 61,Unnamed: 62,Unnamed: 63
0,Country Name,Country Code,Indicator Name,Indicator Code,1960.000000,1961.000000,1962.000000,1963.000000,1964.000000,1965.000000,...,2010.000000,2011.000000,2012.000000,2013.000000,2014.000000,2015.000000,2016.00000,2017.000000,2018.000000,2019.0
1,Aruba,ABW,GDP per capita (current US$),NY.GDP.PCAP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,23512.602600,24985.993280,24713.698050,25025.099560,25533.569780,25796.380250,25239.60041,25630.266490,NaN,NaN
2,Afghanistan,AFG,GDP per capita (current US$),NY.GDP.PCAP.CD,59.773194,59.860874,58.458015,78.706388,82.095231,101.108305,...,543.303042,591.162347,641.872034,637.165044,613.856333,578.466353,547.22811,556.302138,520.896603,NaN

 ### Move header row up to the top row

In [48]:
new_header = gdp_percap.iloc[0] #grab the first row for the header
gdp_percap = gdp_percap[1:] #take the data less the header row
gdp_percap.columns = new_header
gdp_percap.columns = gdp_percap.columns.astype(str)

Note - Tried these 2 options first and they did not operate correctly here
    1. gdp2.columns= gdp2.columns.str.replace('.0 ',' ',regex=True) #this does not work
    2. gdp2 = gdp2.rename(columns=lambda x: x.rstrip('.0'))   #this removes the end 0s from years ending in 0

### Fixed year columns to the correct format

In [49]:
gdp_percap = gdp_percap.rename(columns=lambda x: x.replace('.0',''))

In [50]:
#drop some columns and rename others
gdp_percap = gdp_percap.drop(columns = ['Indicator Code'], axis=1)
gdp_percap = gdp_percap.rename(columns={'Country Name': 'country_name', 'Country Code':'country',
                                          'Indicator Name':'indicator_name',})

In [51]:
#remove 1960-1997 years, also removed 2019 since are 2019 were NaN
gdp_percap = gdp_percap[['country_name','country','indicator_name','1998','1999','2000',
            '2001','2002','2003','2004','2005','2006','2007',
             '2008','2009','2010','2011','2012','2013','2014','2015','2016','2017','2018']]

In [52]:
gdp_percap.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 264 entries, 1 to 264
Data columns (total 24 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   country_name    264 non-null    object
 1   country         264 non-null    object
 2   indicator_name  264 non-null    object
 3   1998            238 non-null    float64
 4   1999            239 non-null    float64
 5   2000            245 non-null    float64
 6   2001            245 non-null    float64
 7   2002            250 non-null    float64
 8   2003            250 non-null    float64
 9   2004            251 non-null    float64
 10  2005            252 non-null    float64
 11  2006            252 non-null    float64
 12  2007            253 non-null    float64
 13  2008            252 non-null    float64
 14  2009            252 non-null    float64
 15  2010            252 non-null    float64
 16  2011            253 non-null    float64
 17  2012            252 non-null    float64
 18  2013            253 non-null    float64
 19  2014            252 non-null    float64
 20  2015            251 non-null    float64
 21  2016            250 non-null    float64
 22  2017            247 non-null    float64
 23  2018            239 non-null    float64
dtypes: float64(21), object(3)
memory usage: 49.6+ KB

In [53]:
gdp_percap

,country_name,country,indicator_name,1998,1999,2000,2001,2002,2003,2004,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
1,Aruba,ABW,GDP per capita (current US$),19078.343190,19356.203390,20620.700630,20669.031970,20436.887130,20833.761610,22569.974990,...,24630.453710,23512.602600,24985.993280,24713.698050,25025.099560,25533.569780,25796.380250,25239.600410,25630.266490,NaN
2,Afghanistan,AFG,GDP per capita (current US$),NaN,NaN,NaN,NaN,179.426495,190.684009,211.381969,...,438.076034,543.303042,591.162347,641.872034,637.165044,613.856333,578.466353,547.228110,556.302138,520.896603
3,Angola,AGO,GDP per capita (current US$),423.593660,387.784316,556.836318,527.333529,872.494492,982.960899,1255.564045,...,3122.780766,3587.883798,4615.468028,5100.095808,5254.882338,5408.410496,4166.979684,3506.072885,4095.812942,3432.385736
4,Albania,ALB,GDP per capita (current US$),813.790264,1033.241693,1126.683318,1281.659393,1425.124849,1846.118813,2373.579844,...,4114.140150,4094.362119,4437.178067,4247.614279,4413.081743,4578.666720,3952.829458,4124.108907,4532.890162,5268.848504
5,Andorra,AND,GDP per capita (current US$),18894.521500,19261.710500,21936.530100,22228.846490,24741.493570,32776.442270,38503.479610,...,43338.866760,39736.354060,41100.729940,38392.943900,40626.751630,42300.334130,36039.653500,37224.108920,39134.393370,42029.762740
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
260,Kosovo,XKX,GDP per capita (current US$),NaN,NaN,1087.762401,1490.361033,1413.532587,1638.104739,2086.537325,...,3209.711460,3283.483451,3736.700833,3600.575965,3876.970676,4054.716970,3574.241120,3697.129595,3948.052670,4302.276483
261,"Yemen, Rep.",YEM,GDP per capita (current US$),384.499847,451.571139,554.448633,550.360242,579.852920,620.382759,709.965306,...,1116.084594,1334.784845,1374.621313,1446.536280,1607.152275,1674.002766,1608.744312,1139.870568,963.494721,944.408499
262,South Africa,ZAF,GDP per capita (current US$),3154.020777,3081.569927,3032.427138,2666.474910,2502.277005,3751.282813,4833.627517,...,5862.797340,7328.615629,8007.412846,7501.469984,6832.456891,6433.187277,5734.633629,5272.918425,6132.479841,6374.028196
263,Zambia,ZMB,GDP per capita (current US$),358.555886,335.712391,345.689554,382.941179,382.242172,435.458083,538.591506,...,1159.907762,1489.459070,1672.949830,1763.094184,1878.903489,1763.056239,1337.796315,1280.578447,1534.865371,1539.900158
264,Zimbabwe,ZWE,GDP per capita (current US$),544.984163,580.070718,563.057741,568.385909,530.530579,478.007405,482.998411,...,771.598786,948.331854,1093.654002,1304.969802,1430.000818,1434.899340,1445.071062,1464.583529,1602.403507,2146.996385

In [ ]:
#figure out what to do with nulls (specifically 2018 column- make them be an avg of their row where values are present? 
#that may not be accurate if not many years of gdp data
#take last avail. gdp to fill into 2018 column
#subset data for 2018 null, .iterrows > for loop
#more accurate idea: convert row into a list> reverse function >find first non-null value to fill into 2018

In [62]:
gdp_2018na = gdp_percap.loc[(gdp_percap['2018'].isnull())]

In [64]:
gdp_2018na.head()

,country_name,country,indicator_name,1998,1999,2000,2001,2002,2003,2004,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
1,Aruba,ABW,GDP per capita (current US$),19078.343190,19356.203390,20620.700630,20669.03197,20436.887130,20833.761610,22569.974990,...,24630.453710,23512.602600,24985.993280,24713.69805,25025.09956,25533.56978,25796.38025,25239.60041,25630.26649,NaN
26,Bermuda,BMU,GDP per capita (current US$),51371.740810,54245.459740,56284.168650,58883.95943,62583.100200,66111.725230,70359.319110,...,88463.312820,88207.327560,85973.158420,85458.45551,85748.06541,NaN,NaN,NaN,NaN,NaN
37,Channel Islands,CHI,GDP per capita (current US$),40585.382580,42443.432330,43381.657840,41804.37092,44544.433440,48859.483020,56753.386200,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51,Cayman Islands,CYM,GDP per capita (current US$),NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,77398.015840,73350.784820,72328.411640,72783.32044,73515.89532,74990.43322,76280.48625,78296.09993,81124.51348,NaN
68,Eritrea,ERI,GDP per capita (current US$),337.887664,307.910872,308.133784,316.82382,293.955791,334.585443,407.769977,...,595.109987,667.744178,811.376029,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [81]:
for row in gdp_2018na.iterrows():
    if gdp_2018na.isnull():
        gdp_2018na = gdp_2018na.ffill(axis=1) #look one column to the left to fill
    else:
        gdp_2018na == None

SyntaxError: invalid syntax (<ipython-input-81-c2dfadb8148e>, line 4)

In [83]:
gdp_2018na = gdp_2018na.fillna(method='ffill',axis=1)
gdp_2018na

,country_name,country,indicator_name,1998,1999,2000,2001,2002,2003,2004,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
1,Aruba,ABW,GDP per capita (current US$),19078.3,19356.2,20620.7,20669,20436.9,20833.8,22570,...,24630.5,23512.6,24986,24713.7,25025.1,25533.6,25796.4,25239.6,25630.3,25630.3
26,Bermuda,BMU,GDP per capita (current US$),51371.7,54245.5,56284.2,58884,62583.1,66111.7,70359.3,...,88463.3,88207.3,85973.2,85458.5,85748.1,85748.1,85748.1,85748.1,85748.1,85748.1
37,Channel Islands,CHI,GDP per capita (current US$),40585.4,42443.4,43381.7,41804.4,44544.4,48859.5,56753.4,...,74462.6,74462.6,74462.6,74462.6,74462.6,74462.6,74462.6,74462.6,74462.6,74462.6
51,Cayman Islands,CYM,GDP per capita (current US$),GDP per capita (current US$),GDP per capita (current US$),GDP per capita (current US$),GDP per capita (current US$),GDP per capita (current US$),GDP per capita (current US$),GDP per capita (current US$),...,77398,73350.8,72328.4,72783.3,73515.9,74990.4,76280.5,78296.1,81124.5,81124.5
68,Eritrea,ERI,GDP per capita (current US$),337.888,307.911,308.134,316.824,293.956,334.585,407.77,...,595.11,667.744,811.376,811.376,811.376,811.376,811.376,811.376,811.376,811.376
77,Faroe Islands,FRO,GDP per capita (current US$),24034.2,24125.3,22653.3,24419.7,26732.8,31498,35467.2,...,47447.9,48530.2,52083.9,49459.7,54853.6,59440,52404.7,55822.9,55822.9,55822.9
83,Gibraltar,GIB,GDP per capita (current US$),GDP per capita (current US$),GDP per capita (current US$),GDP per capita (current US$),GDP per capita (current US$),GDP per capita (current US$),GDP per capita (current US$),GDP per capita (current US$),...,GDP per capita (current US$),GDP per capita (current US$),GDP per capita (current US$),GDP per capita (current US$),GDP per capita (current US$),GDP per capita (current US$),GDP per capita (current US$),GDP per capita (current US$),GDP per capita (current US$),GDP per capita (current US$)
90,Greenland,GRL,GDP per capita (current US$),20496.7,20170.4,19004.1,19275.5,20652.9,27459.8,32023.5,...,44918.6,43988.3,47187,45936.8,47535.6,50484.9,44536.4,48181.9,48181.9,48181.9
107,Isle of Man,IMN,GDP per capita (current US$),18448,20624.3,20322.9,21352.2,24864.4,29520,35492.4,...,65031.3,69766.5,77352,76104.7,80431.7,88974.2,81606.3,79155.5,80989.2,80989.2
109,Not classified,INX,GDP per capita (current US$),GDP per capita (current US$),GDP per capita (current US$),GDP per capita (current US$),GDP per capita (current US$),GDP per capita (current US$),GDP per capita (current US$),GDP per capita (current US$),...,GDP per capita (current US$),GDP per capita (current US$),GDP per capita (current US$),GDP per capita (current US$),GDP per capita (current US$),GDP per capita (current US$),GDP per capita (current US$),GDP per capita (current US$),GDP per capita (current US$),GDP per capita (current US$)
111,"Iran, Islamic Rep.",IRN,GDP per capita (current US$),1723.84,1756.9,1670.01,1909.41,1911.68,2253.94,2756.2,...,5677.89,6603.21,7818.06,7927.65,6111.44,5608.6,4916.09,5265.91,5627.75,5627.75
136,Liechtenstein,LIE,GDP per capita (current US$),76745.4,81297.1,74853.9,74267.5,79359.8,89852,100266,...,126082,141200,158157,149010,173058,178846,167291,165028,165028,165028
146,St. Martin (French part),MAF,GDP per capita (current US$),GDP per capita (current US$),GDP per capita (current US$),GDP per capita (current US$),GDP per capita (current US$),GDP per capita (current US$),GDP per capita (current US$),GDP per capita (current US$),...,GDP per capita (current US$),GDP per capita (current US$),GDP per capita (current US$),GDP per capita (current US$),GDP per capita (current US$),GDP per capita (current US$),GDP per capita (current US$),GDP per capita (current US$),GDP per capita (current US$),GDP per capita (current US$)
160,Middle East & North Africa (excluding high inc...,MNA,GDP per capita (current US$),1530.06,1589.2,1617.71,1644.65,1568.85,1739.22,1980.9,...,3659.38,4158.64,4630.67,5011.82,4626.61,4472.32,3963.37,3939.88,3825.03,3825.03
171,New Caledonia,NCL,GDP per capita (current US$),15387.9,14611.8,12579.6,12579.6,12579.6,12579.6,12579.6,...,12579.6,12579.6,12579.6,12579.6,12579.6,12579.6,12579.6,12579.6,12579.6,12579.6
192,"Korea, Dem. Peopleâ€™s Rep.",PRK,GDP per capita (current US$),GDP per capita (current US$),GDP per capita (current US$),GDP per capita (current US$),GDP per capita (current US$),GDP per capita (current US$),GDP per capita (current US$),GDP per capita (current US$),...,GDP per capita (current US$),GDP per capita (current US$),GDP per capita (current US$),GDP per capita (current US$),GDP per capita (current US$),GDP per capita (current US$),GDP per capita (current US$),GDP per capita (current US$),GDP per capita (current US$),GDP per capita (current US$)
198,French Polynesia,PYF,GDP per capita (current US$),16302.5,16074,14323.8,14323.8,14323.8,14323.8,14323.8,...,14323.8,14323.8,14323.8,14323.8,14323.8,14323.8,14323.8,14323.8,14323.8,14323.8
211,San Marino,SMR,GDP per capita (current US$),GDP per capita (current US$),44783.2,40124.5,41731.1,44490.8,56034.3,64869.7,...,76686,68496.4,64890.2,56068.4,57302.7,54282.8,45774.6,46692.4,48494.6,48494.6
215,South Sudan,SSD,GDP per capita (current US$),GDP per capita (current US$),GDP per capita (current US$),GDP per capita (current US$),GDP per capita (current US$),GDP per capita (current US$),GDP per capita (current US$),GDP per capita (current US$),...,1337.88,1535.71,1516.4,1179.74,1779.47,1322.82,1119.65,1119.65,1119.65,1119.65
224,Sint Maarten (Dutch part),SXM,GDP per capita (current US$),GDP per capita (current US$),GDP per capita (current US$),GDP per capita (current US$),GDP per capita (current US$),GDP per capita (current US$),GDP per capita (current US$),GDP per capita (current US$),...,GDP per capita (current US$),GDP per capita (current US$),GDP per capita (current US$),GDP per capita (current US$),GDP per capita (current US$),GDP per capita (current US$),GDP per capita (current US$),GDP per capita (current US$),GDP per capita (current US$),GDP per capita (current US$)
226,Syrian Arab Republic,SYR,GDP per capita (current US$),974.439,991.251,1177.63,1258.45,1263.26,1253.4,1407.18,...,2032.62,2032.62,2032.62,2032.62,2032.62,2032.62,2032.62,2032.62,2032.62,2032.62
237,Middle East & North Africa (IDA & IBRD countries),TMN,GDP per capita (current US$),1530.54,1589.94,1619.03,1647.88,1573.31,1744.47,1988.02,...,3678.77,4179.46,4653.12,5037.28,4644.8,4488.9,3974.81,3949.75,3831.27,3831.27
253,"Venezuela, RB",VEN,GDP per capita (current US$),3921.72,4127.11,4842.04,4986.68,3700.88,3272.62,4325.7,...,11765.1,13825.4,10955.3,12985.5,12456.7,16054.5,16054.5,16054.5,16054.5,16054.5
254,British Virgin Islands,VGB,GDP per capita (current US$),GDP per capita (current US$),GDP per capita (current US$),GDP per capita (current US$),GDP per capita (current US$),GDP per capita (current US$),GDP per capita (current US$),GDP per capita (current US$),...,GDP per capita (current US$),GDP per capita (current US$),GDP per capita (current US$),GDP per capita (current US$),GDP per capita (current US$),GDP per capita (current US$),GDP per capita (current US$),GDP per capita (current US$),GDP per capita (current US$),GDP per capita (current US$)
255,Virgin Islands (U.S.),VIR,GDP per capita (current US$),GDP per capita (current US$),GDP per capita (current US$),GDP per capita (current US$),GDP per capita (current US$),30126.3,31823.1,35024.5,...,38771.3,40043.2,39144.2,37849.7,34819.1,33573.1,34797.1,35931.5,35938,35938

In [17]:
clean_nyc = pd.read_csv('../data/clean_nyc.csv')

In [18]:
clean_nyc = clean_nyc.reset_index()

In [19]:
clean_nyc.head()

,Unnamed: 0,id,full_name,year,age,dob,gender,city,country,state,iaaf,place,time,pace,gender_place,age_grade_time,age_grade_place,age_grade_percent,nyrr_races,age_group
0,0,16619869,Stanley Biwott,2015,29,1986-04-21,M,Eldoret,KEN,NaN,KEN,1,0 days 02:10:34.000000000,04:59,1,10:34,2,94.18,2,20-29
1,1,16654079,Geoffery Kamworor,2015,22,1992-11-22,M,Kapchorwa District,KEN,NaN,KEN,2,0 days 02:10:48.000000000,05:00,2,10:48,3,94.00,4,20-29
2,2,16611443,Lelisa Desisa,2015,25,1990-01-14,M,Addis Ababa,ETH,NaN,ETH,3,0 days 02:12:10.000000000,05:03,3,12:10,4,93.03,5,20-29
3,3,16616462,Wilson Kipsang,2015,33,1982-03-15,M,Iten,KEN,NaN,KEN,4,0 days 02:12:45.000000000,05:04,4,12:36,5,92.73,5,30-39
4,4,16654080,Yemane Tsegay,2015,30,1985-04-08,M,Addis Ababa,ETH,NaN,ETH,5,0 days 02:13:24.000000000,05:06,5,13:24,6,92.18,1,30-39

In [28]:
race_and_gdp = pd.merge(clean_nyc, gdp2, on = 'country')

In [29]:
race_and_gdp.head()

,Unnamed: 0,id,full_name,year,age,dob,gender,city,country,state,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,0,16619869,Stanley Biwott,2015,29,1986-04-21,M,Eldoret,KEN,NaN,...,951.687961,971.633329,1136.871406,1210.388014,1315.804535,1336.883349,1410.527571,1568.201541,1710.510097,NaN
1,1,16654079,Geoffery Kamworor,2015,22,1992-11-22,M,Kapchorwa District,KEN,NaN,...,951.687961,971.633329,1136.871406,1210.388014,1315.804535,1336.883349,1410.527571,1568.201541,1710.510097,NaN
2,3,16616462,Wilson Kipsang,2015,33,1982-03-15,M,Iten,KEN,NaN,...,951.687961,971.633329,1136.871406,1210.388014,1315.804535,1336.883349,1410.527571,1568.201541,1710.510097,NaN
3,18,16614353,Mary Keitany,2015,33,1982-01-18,F,Iten,KEN,NaN,...,951.687961,971.633329,1136.871406,1210.388014,1315.804535,1336.883349,1410.527571,1568.201541,1710.510097,NaN
4,26,16624460,Priscah Jeptoo,2015,31,1984-06-26,F,Nandi,KEN,NaN,...,951.687961,971.633329,1136.871406,1210.388014,1315.804535,1336.883349,1410.527571,1568.201541,1710.510097,NaN

In [ ]:
#group by country - average pace 
#display gdp per capita for 2018 per country

# Other GDP Data

In [128]:
gdp = pd.read_csv('../data/gdp_clean.csv')

In [129]:
gdp.head()

,Country Name,Country Code,Indicator Name,Indicator Code,2015,2016,2017,2018
0,Aruba,ABW,GDP per capita (current US$),NY.GDP.PCAP.CD,25796.380250,25239.600410,25630.266490,NaN
1,Afghanistan,AFG,GDP per capita (current US$),NY.GDP.PCAP.CD,578.466353,547.228110,556.302138,520.896603
2,Angola,AGO,GDP per capita (current US$),NY.GDP.PCAP.CD,4166.979684,3506.072885,4095.812942,3432.385736
3,Albania,ALB,GDP per capita (current US$),NY.GDP.PCAP.CD,3952.829458,4124.108907,4532.890162,5268.848504
4,Andorra,AND,GDP per capita (current US$),NY.GDP.PCAP.CD,36039.653500,37224.108920,39134.393370,42029.762740

In [27]:
#drop some columns and rename others
gdp = gdp.drop(columns = ['Indicator Code'], axis=1)
gdp = gdp.rename(columns={'Country Name': 'country', 'Country Code':'country_code',
                                          'Indicator Name':'indicator_name',})

In [127]:
gdp.describe()

                2015           2016           2017           2018
count     251.000000     250.000000     247.000000     247.000000
mean    14962.582227   15094.325817   14922.943969   17267.243940
std     22673.590154   22855.302141   21316.533306   27738.065656
min       293.455236     282.193130     292.997631     271.752044
25%      2067.475587    2177.431269    2109.104253    2147.382923
50%      6124.491643    5924.917489    6213.501276    6966.635411
75%     17106.400145   17821.571225   17136.270745   18510.290650
max    167290.940000  169915.804800  167101.759400  187758.212437

In [30]:
gdp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 264 entries, 0 to 263
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   country         264 non-null    object
 1   country_code    264 non-null    object
 2   indicator_name  264 non-null    object
 3   2015            251 non-null    float64
 4   2016            250 non-null    float64
 5   2017            247 non-null    float64
 6   2018            239 non-null    float64
dtypes: float64(4), object(3)
memory usage: 14.6+ KB

In [31]:
gdp['2018'].sort_values()

14     271.752044
211    314.544166
166    389.398033
171    413.980305
32     475.721250
          ...
225           NaN
236           NaN
252           NaN
253           NaN
254           NaN
Name: 2018, Length: 264, dtype: float64

In [43]:
#if 2018 is null GDP value, then return the average of 2015-2017:

In [33]:
gdp['2018'] = gdp.apply(
    lambda row: (row['2015']+row['2016']+row['2017']/3) if np.isnan(row['2018']) else row['2018'],
    axis=1
)

In [34]:
gdp['2017'] = gdp.apply(
    lambda row: (row['2015']+row['2016']+row['2018']/3) if np.isnan(row['2017']) else row['2017'],
    axis=1
)

In [35]:
gdp['2016'] = gdp.apply(
    lambda row: (row['2015']+row['2017']+row['2018']/3) if np.isnan(row['2016']) else row['2016'],
    axis=1
)

In [36]:
gdp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 264 entries, 0 to 263
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   country         264 non-null    object
 1   country_code    264 non-null    object
 2   indicator_name  264 non-null    object
 3   2015            251 non-null    float64
 4   2016            250 non-null    float64
 5   2017            247 non-null    float64
 6   2018            247 non-null    float64
dtypes: float64(4), object(3)
memory usage: 14.6+ KB

In [41]:
gdp.sort_values('2018', ascending = True).tail(20)

,country,country_code,indicator_name,2015,2016,2017,2018
50,Cayman Islands,CYM,GDP per capita (current US$),76280.486250,78296.09993,81124.51348,181618.090673
147,Monaco,MCO,GDP per capita (current US$),165937.865300,169915.80480,167101.75940,185741.280000
106,Isle of Man,IMN,GDP per capita (current US$),81606.280030,79155.54167,80989.17221,187758.212437
25,Bermuda,BMU,GDP per capita (current US$),NaN,NaN,NaN,NaN
36,Channel Islands,CHI,GDP per capita (current US$),NaN,NaN,NaN,NaN
67,Eritrea,ERI,GDP per capita (current US$),NaN,NaN,NaN,NaN
76,Faroe Islands,FRO,GDP per capita (current US$),52404.659330,55822.91472,NaN,NaN
82,Gibraltar,GIB,GDP per capita (current US$),NaN,NaN,NaN,NaN
89,Greenland,GRL,GDP per capita (current US$),44536.401310,48181.87419,NaN,NaN
108,Not classified,INX,GDP per capita (current US$),NaN,NaN,NaN,NaN
135,Liechtenstein,LIE,GDP per capita (current US$),167290.940000,165028.24500,NaN,NaN
145,St. Martin (French part),MAF,GDP per capita (current US$),NaN,NaN,NaN,NaN
170,New Caledonia,NCL,GDP per capita (current US$),NaN,NaN,NaN,NaN
191,"Korea, Dem. Peopleâ€™s Rep.",PRK,GDP per capita (current US$),NaN,NaN,NaN,NaN
197,French Polynesia,PYF,GDP per capita (current US$),NaN,NaN,NaN,NaN
214,South Sudan,SSD,GDP per capita (current US$),1119.651332,NaN,NaN,NaN
223,Sint Maarten (Dutch part),SXM,GDP per capita (current US$),NaN,NaN,NaN,NaN
225,Syrian Arab Republic,SYR,GDP per capita (current US$),NaN,NaN,NaN,NaN
252,"Venezuela, RB",VEN,GDP per capita (current US$),NaN,NaN,NaN,NaN
253,British Virgin Islands,VGB,GDP per capita (current US$),NaN,NaN,NaN,NaN

In [ ]:
#convert to csv for visuals in Tableau