In [16]:
import pandas as pd
import numpy as np

# Weather Data

In [2]:
nyc_weather=pd.read_csv('../data/nyc_weather.csv')

In [3]:
nyc_weather

,Year,DY,MAX,MIN,AVG,DEP,HDD,CDD,WTR,SNW,DPTH,SPD,SPD.1,DIR,MIN.1,PSBL,S-S,WX,SPD.2,DR
0,2015,1,65,54,60,8,5,0,0.00,0,0,5,16,240,M,M,5,23,240,NaN
1,2016,6,59,45,52,1,13,0,0.00,0,0,7.5,16,20,M,M,1,26,20,NaN
2,2017,5,61,51,56,5,9,0,0.02,0,0,4.2,12,120,M,M,10,1,17,100.0
3,2018,4,55,43,49,-2,16,0,0.00,0,0,M,M,M,M,M,0,M,M,NaN
4,2019,3,54,42,48,-4,17,0,0.00,0,0,4.8,13,280,M,M,2,18,290,NaN

In [4]:
#drop some columns and rename others
nyc_weather = nyc_weather.drop(columns = ['SNW','DPTH','MIN.1','PSBL'], axis=1)
nyc_weather = nyc_weather.rename(columns={'MAX': 'max_temp', 'MIN':'min_temp','AVG':'avg_temp',
                                          'WTR':'precipitation',
                                          'S-S':'sky_coverage'})

In [5]:
nyc_weather

,Year,DY,max_temp,min_temp,avg_temp,DEP,HDD,CDD,precipitation,SPD,SPD.1,DIR,sky_coverage,WX,SPD.2,DR
0,2015,1,65,54,60,8,5,0,0.00,5,16,240,5,23,240,NaN
1,2016,6,59,45,52,1,13,0,0.00,7.5,16,20,1,26,20,NaN
2,2017,5,61,51,56,5,9,0,0.02,4.2,12,120,10,1,17,100.0
3,2018,4,55,43,49,-2,16,0,0.00,M,M,M,0,M,M,NaN
4,2019,3,54,42,48,-4,17,0,0.00,4.8,13,280,2,18,290,NaN


# GDP Data

In [164]:
gdp2 = pd.read_csv('../data/gdp_per_capita.csv')

In [165]:
gdp2 = gdp2.drop(gdp2.index[0:3]) 
gdp2 = gdp2.reset_index(drop = True)
gdp2.head(3)

,Data Source,World Development Indicators,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 54,Unnamed: 55,Unnamed: 56,Unnamed: 57,Unnamed: 58,Unnamed: 59,Unnamed: 60,Unnamed: 61,Unnamed: 62,Unnamed: 63
0,Country Name,Country Code,Indicator Name,Indicator Code,1960.000000,1961.000000,1962.000000,1963.000000,1964.000000,1965.000000,...,2010.000000,2011.000000,2012.000000,2013.000000,2014.000000,2015.000000,2016.00000,2017.000000,2018.000000,2019.0
1,Aruba,ABW,GDP per capita (current US$),NY.GDP.PCAP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,23512.602600,24985.993280,24713.698050,25025.099560,25533.569780,25796.380250,25239.60041,25630.266490,NaN,NaN
2,Afghanistan,AFG,GDP per capita (current US$),NY.GDP.PCAP.CD,59.773194,59.860874,58.458015,78.706388,82.095231,101.108305,...,543.303042,591.162347,641.872034,637.165044,613.856333,578.466353,547.22811,556.302138,520.896603,NaN

 ### Move header row up to the top row

In [166]:
new_header = gdp2.iloc[0] #grab the first row for the header
gdp2 = gdp2[1:] #take the data less the header row
gdp2.columns = new_header
gdp2.columns = gdp2.columns.astype(str)

Note - Tried these 2 options first and they did not operate correctly here
    1. gdp2.columns= gdp2.columns.str.replace('.0 ',' ',regex=True) #this does not work
    2. gdp2 = gdp2.rename(columns=lambda x: x.rstrip('.0'))   #this removes the end 0s from years ending in 0

### Fixed year columns to the correct format

In [167]:
gdp2 = gdp2.rename(columns=lambda x: x.replace('.0',''))

In [169]:
#drop some columns and rename others
gdp2 = gdp2.drop(columns = ['Indicator Code'], axis=1)
gdp2 = gdp2.rename(columns={'Country Name': 'country', 'Country Code':'country_code',
                                          'Indicator Name':'indicator_name',})

In [171]:
#remove 1960-1995 years 
gdp2 = gdp2[['country','country_code','indicator_name','1996','1997','1998','1999','2000',
            '2001','2002','2003','2004','2005','2006','2007',
             '2008','2009','2010','2011','2012','2013','2014','2015','2016','2017','2018','2019']]

In [174]:
gdp2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 264 entries, 1 to 264
Data columns (total 27 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   country         264 non-null    object
 1   country_code    264 non-null    object
 2   indicator_name  264 non-null    object
 3   1996            236 non-null    float64
 4   1997            236 non-null    float64
 5   1998            238 non-null    float64
 6   1999            239 non-null    float64
 7   2000            245 non-null    float64
 8   2001            245 non-null    float64
 9   2002            250 non-null    float64
 10  2003            250 non-null    float64
 11  2004            251 non-null    float64
 12  2005            252 non-null    float64
 13  2006            252 non-null    float64
 14  2007            253 non-null    float64
 15  2008            252 non-null    float64
 16  2009            252 non-null    float64
 17  2010            252 non-null    float64
 18  2011            253 non-null    float64
 19  2012            252 non-null    float64
 20  2013            253 non-null    float64
 21  2014            252 non-null    float64
 22  2015            251 non-null    float64
 23  2016            250 non-null    float64
 24  2017            247 non-null    float64
 25  2018            239 non-null    float64
 26  2019            0 non-null      float64
dtypes: float64(24), object(3)
memory usage: 55.8+ KB

In [ ]:
#figure out what to do with nulls - make them be an average of their row? 
#that may not be accurate if not many years of gdp data

# Other GDP Data

In [128]:
gdp = pd.read_csv('../data/gdp_clean.csv')

In [129]:
gdp.head()

,Country Name,Country Code,Indicator Name,Indicator Code,2015,2016,2017,2018
0,Aruba,ABW,GDP per capita (current US$),NY.GDP.PCAP.CD,25796.380250,25239.600410,25630.266490,NaN
1,Afghanistan,AFG,GDP per capita (current US$),NY.GDP.PCAP.CD,578.466353,547.228110,556.302138,520.896603
2,Angola,AGO,GDP per capita (current US$),NY.GDP.PCAP.CD,4166.979684,3506.072885,4095.812942,3432.385736
3,Albania,ALB,GDP per capita (current US$),NY.GDP.PCAP.CD,3952.829458,4124.108907,4532.890162,5268.848504
4,Andorra,AND,GDP per capita (current US$),NY.GDP.PCAP.CD,36039.653500,37224.108920,39134.393370,42029.762740

In [27]:
#drop some columns and rename others
gdp = gdp.drop(columns = ['Indicator Code'], axis=1)
gdp = gdp.rename(columns={'Country Name': 'country', 'Country Code':'country_code',
                                          'Indicator Name':'indicator_name',})

In [127]:
gdp.describe()

                2015           2016           2017           2018
count     251.000000     250.000000     247.000000     247.000000
mean    14962.582227   15094.325817   14922.943969   17267.243940
std     22673.590154   22855.302141   21316.533306   27738.065656
min       293.455236     282.193130     292.997631     271.752044
25%      2067.475587    2177.431269    2109.104253    2147.382923
50%      6124.491643    5924.917489    6213.501276    6966.635411
75%     17106.400145   17821.571225   17136.270745   18510.290650
max    167290.940000  169915.804800  167101.759400  187758.212437

In [30]:
gdp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 264 entries, 0 to 263
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   country         264 non-null    object
 1   country_code    264 non-null    object
 2   indicator_name  264 non-null    object
 3   2015            251 non-null    float64
 4   2016            250 non-null    float64
 5   2017            247 non-null    float64
 6   2018            239 non-null    float64
dtypes: float64(4), object(3)
memory usage: 14.6+ KB

In [31]:
gdp['2018'].sort_values()

14     271.752044
211    314.544166
166    389.398033
171    413.980305
32     475.721250
          ...
225           NaN
236           NaN
252           NaN
253           NaN
254           NaN
Name: 2018, Length: 264, dtype: float64

In [43]:
#if 2018 is null GDP value, then return the average of 2015-2017:

In [33]:
gdp['2018'] = gdp.apply(
    lambda row: (row['2015']+row['2016']+row['2017']/3) if np.isnan(row['2018']) else row['2018'],
    axis=1
)

In [34]:
gdp['2017'] = gdp.apply(
    lambda row: (row['2015']+row['2016']+row['2018']/3) if np.isnan(row['2017']) else row['2017'],
    axis=1
)

In [35]:
gdp['2016'] = gdp.apply(
    lambda row: (row['2015']+row['2017']+row['2018']/3) if np.isnan(row['2016']) else row['2016'],
    axis=1
)

In [36]:
gdp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 264 entries, 0 to 263
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   country         264 non-null    object
 1   country_code    264 non-null    object
 2   indicator_name  264 non-null    object
 3   2015            251 non-null    float64
 4   2016            250 non-null    float64
 5   2017            247 non-null    float64
 6   2018            247 non-null    float64
dtypes: float64(4), object(3)
memory usage: 14.6+ KB

In [41]:
gdp.sort_values('2018', ascending = True).tail(20)

,country,country_code,indicator_name,2015,2016,2017,2018
50,Cayman Islands,CYM,GDP per capita (current US$),76280.486250,78296.09993,81124.51348,181618.090673
147,Monaco,MCO,GDP per capita (current US$),165937.865300,169915.80480,167101.75940,185741.280000
106,Isle of Man,IMN,GDP per capita (current US$),81606.280030,79155.54167,80989.17221,187758.212437
25,Bermuda,BMU,GDP per capita (current US$),NaN,NaN,NaN,NaN
36,Channel Islands,CHI,GDP per capita (current US$),NaN,NaN,NaN,NaN
67,Eritrea,ERI,GDP per capita (current US$),NaN,NaN,NaN,NaN
76,Faroe Islands,FRO,GDP per capita (current US$),52404.659330,55822.91472,NaN,NaN
82,Gibraltar,GIB,GDP per capita (current US$),NaN,NaN,NaN,NaN
89,Greenland,GRL,GDP per capita (current US$),44536.401310,48181.87419,NaN,NaN
108,Not classified,INX,GDP per capita (current US$),NaN,NaN,NaN,NaN
135,Liechtenstein,LIE,GDP per capita (current US$),167290.940000,165028.24500,NaN,NaN
145,St. Martin (French part),MAF,GDP per capita (current US$),NaN,NaN,NaN,NaN
170,New Caledonia,NCL,GDP per capita (current US$),NaN,NaN,NaN,NaN
191,"Korea, Dem. People’s Rep.",PRK,GDP per capita (current US$),NaN,NaN,NaN,NaN
197,French Polynesia,PYF,GDP per capita (current US$),NaN,NaN,NaN,NaN
214,South Sudan,SSD,GDP per capita (current US$),1119.651332,NaN,NaN,NaN
223,Sint Maarten (Dutch part),SXM,GDP per capita (current US$),NaN,NaN,NaN,NaN
225,Syrian Arab Republic,SYR,GDP per capita (current US$),NaN,NaN,NaN,NaN
252,"Venezuela, RB",VEN,GDP per capita (current US$),NaN,NaN,NaN,NaN
253,British Virgin Islands,VGB,GDP per capita (current US$),NaN,NaN,NaN,NaN

In [ ]:
#convert to csv for visuals in Tableau